[2011-02-21 13:45] jhcepas opened #1 "newick support for exporting non printable node features"

[2011-02-21 13:49] jhcepas opened #2 "pickle support for Tree objects"
Almost done in 2.1

[2011-02-21 13:50] jhcepas opened #3 "more background control in faces and nodes"
node region
face region

[2011-02-21 13:50] jhcepas opened #4 "internal aligned faces"
.

[2011-02-22 09:50] jhcepas opened #5 "img based backgrounds"

[2011-02-22 09:53] jhcepas opened #6 "align face content"
* top- and down-branch could be centered, or aligned to left or right
* faces in the same column are always vertically centered. Other positions  can be added.

[2011-02-23 12:01] jhcepas opened #7 "several trees in the same scene"

[2011-02-23 12:50] jhcepas opened #8 "add custom actions/popup-options to faces and nodes (they will appear in the GUI)"

[2011-02-24 09:52] jhcepas opened #9 "redraw only modified items"
When bgcolor or linetypes are changed in the GUI, the whole tree is redrawn, this can be changed to rerender only the necesary parts.

[2011-04-03 20:04] fransua opened #10 "problem in set outgroup"
t = Tree ('(((a,b),c));')
t.set_outgroup  (t & 'a')

gives an error at "down_branch_connector = self.children[0]" line 837
and delete whole tree.

fix: line 828:
++  if len(self.children)!=1:

--   if len(self.children)>1:

[2011-04-14 20:26] jhcepas opened #11 "fix prune function"
it fails when all nodes to keep are in the same branch of the root node

[2011-04-14 20:28] jhcepas opened #12 "faster traversing methods"
Improve algorithms to traverse, prune, get_common_ancestor and search_nodes by name

[2011-04-14 20:28] jhcepas opened #13 "sort tree method"

[2011-04-14 20:29] jhcepas opened #14 "ladderize"
Sort branches (swap) according to partition size

[2011-04-14 20:30] jhcepas opened #15 "convert to ultrametric"
add convert to ultrametric method

[2011-04-14 20:49] jhcepas opened #16 "do not optimize for overlaping faces in circular mode"
This should be only an option set by users. Useful when very large trees are plotted and optimal radius is too large

[2011-04-14 20:49] jhcepas opened #17 "Clusteing module documentation using sphinx"

[2011-04-14 20:50] jhcepas opened #18 "max value in matrix is not plotted when added to ProfileFaces"
check clusterTree examples.

[2011-04-14 20:51] jhcepas opened #19 "phylomeDB3 unittest"

[2011-04-14 20:58] jhcepas opened #20 "ImgFace fails"

[2011-04-14 21:00] #14 closed, assigned to jhcepas

[2011-04-29 22:03] #10 closed, assigned to jhcepas

[2011-04-29 22:44] #11 closed, assigned to nobody

[2011-04-29 22:47] #20 closed, assigned to jhcepas

[2011-04-29 22:57] jhcepas opened #21 "built-in layout function names are not recognized"

[2011-04-30 06:51] #12 closed, assigned to jhcepas

[2011-04-30 08:51] #21 closed, assigned to jhcepas

[2011-04-30 08:52] #18 closed, assigned to jhcepas

[2011-05-02 08:17] #16 closed, assigned to jhcepas

[2011-05-04 10:20] jhcepas opened #22 "border width in faces is not taken into account to calculate face size"

[2011-05-04 13:39] jhcepas opened #23 "add SVGFace"

[2011-05-05 11:43] jhcepas opened #24 "add convert_to_ultrametric unitest"

[2011-05-05 11:45] #13 closed, assigned to jhcepas

[2011-05-05 11:45] #15 closed, assigned to jhcepas

[2011-05-05 11:45] jhcepas opened #25 "add sort_tree tests"

[2011-06-14 15:12] jhcepas opened #26 "map XML tree node names to OTUs"

[2011-06-15 14:55] #26 closed, assigned to nobody

[2011-06-21 09:10] jhcepas opened #27 "predefined layout function is not autodetected in PhyloTree instances"

[2011-06-21 15:19] jhcepas opened #28 "misbehavior in prune function"
t = Tree('(((f:1,g:1)d:1,e:1)b:1,c:1);', format=1)

t.prune(["f", "g", "b", "c"]) #by node names

"b" is removed !!

[2011-06-22 09:25] #28 closed, assigned to jhcepas

[2011-06-22 12:30] #27 closed, assigned to jhcepas

[2011-07-08 08:37] jhcepas opened #29 "check data type in add_face_to_node() and other functions"

[2011-08-12 09:24] jhcepas opened #30 "tree.describe() [reported via google.groups by Daniel Pérez]"
When I try to execute this line of code:

print 'TESTING TREE: ', tree.describe()

Please note tree is an apparently valid tree taken from phylomeDBconnector.

This error rises:

Traceback (most recent call last):
  File "test_kegg.py", line 88, in <module>
    if utils.get_tree_with_all_subnodes_dbg(node1) and utils.get_tree_with_all_subnodes_dbg(node2):
  File "/home/viridis/dev/test-eric/utilit

[2011-08-16 08:39] #30 closed, assigned to jhcepas

[2011-08-18 09:45] jhcepas opened #31 "improve installation script"
Add better warning for optional dependencies
Run tests

[2011-09-05 13:04] jhcepas opened #32 "fix joint between lines with width > 1"

[2011-10-03 15:40] jhcepas opened #33 "When reading the attached tree in NHX format, I got more leaves with strange name"
When reading the attached tree in NHX format, I got more leaves with strange name.
t=Tree("final.ph")

It works perfectly by the following commend.
t=Tree("final.ph",format=9)

However, format "9" seems not for NHX according to the following link.
http://packages.python.org/ete2/tutorial/tutorial_trees.html#reading-and-writing-newick-trees

It also seems for NHX according to the following link.
ht

[2011-10-27 09:08] jhcepas opened #34 "search function in GUI is broken"

[2011-11-09 15:28] #34 closed, assigned to jhcepas

[2011-11-14 15:15] jhcepas opened #35 "cache some traversing functions"
Modification of tree structure should ALWAYS clear cache

[2011-12-02 11:15] fransua opened #36 "add format to display root name/values in write function"
add new format in order to be abble to display info about root.
right now a way to do it is:
tree.write(format=1)[:-1] + '%s:%s;' % (tree.name, tree.dist)

would be nice to just tree.write(format=12)  :)

this is usefull in some cases, as when trying to export to dendropy.

[2011-12-12 08:50] #33 closed, assigned to jhcepas

[2011-12-13 09:56] #31 closed, assigned to nobody

[2011-12-13 15:26] jhcepas opened #37 "phylomedb module tutorial"

[2011-12-13 15:29] jhcepas opened #38 "Visualization examples of PhyloTree in tutorial"
http://packages.python.org/ete2/tutorial/tutorial_phylogeny.html#visualization-of-phylogenetic-trees

[2011-12-13 15:32] jhcepas opened #39 "Add ete visualization script"

[2011-12-15 13:15] #17 closed, assigned to jhcepas

[2011-12-15 16:36] jhcepas opened #40 "add logging system"

[2011-12-15 16:36] jhcepas opened #41 "add citation module"

[2011-12-15 17:57] jhcepas opened #42 "duplicate name faces when using default TreeStyle"

[2011-12-15 17:58] jhcepas opened #43 "vt_line_* attributes of NodeStyle break compatibility with 2.0"

[2011-12-15 18:00] jhcepas opened #44 "add info about installation stats"

[2011-12-16 11:25] #43 closed, assigned to nobody

[2011-12-16 15:32] #38 closed, assigned to jhcepas

[2011-12-16 17:21] #42 closed, assigned to nobody

[2011-12-16 17:32] #2 closed, assigned to jhcepas

[2011-12-16 17:33] #39 closed, assigned to jhcepas

[2012-01-03 09:42] stelfrich opened #45 "AttributeError in mouseDoubleClickEvent"
An AttributeError is raised when double-clicking on a node in the treeview component of ete2-2.1rev492.

[code]

[2012-01-05 16:43] #45 closed, assigned to jhcepas

[2012-01-17 12:27] jhcepas opened #46 "png render fails (in very large trees"

[2012-02-24 14:47] jhcepas opened #47 "get_balance_age_outgroup"
t.set_outgroup(t.get_age_balanced_outgroup(sp2age_per_phylome[phylome_id]))
  File "/soft/general/python-2.6.4/lib/python2.6/site-packages/ete2-2.1rev492-py2.6.egg/ete2/phylo/phylotree.py", line 330, in get_age_balanced_outgroup
    out_age_min = min([species2age[sp] for sp in out_species])
ValueError: min() arg is an empty sequence

---

el dictionario que le paso:    ( --- seria sp2age_per_phylo

[2012-02-24 17:27] jhcepas opened #48 "get_balance_age_outgroup"
t.set_outgroup(t.get_age_balanced_outgroup(sp2age_per_phylome[phylome_id]))
  File "/soft/general/python-2.6.4/lib/python2.6/site-packages/ete2-2.1rev492-py2.6.egg/ete2/phylo/phylotree.py", line 330, in get_age_balanced_outgroup
    out_age_min = min([species2age[sp] for sp in out_species])
ValueError: min() arg is an empty sequence

---

el dictionario que le paso:    ( --- seria sp2age_per_phylo

[2012-02-24 17:27] #48 closed, assigned to jhcepas

[2012-03-23 08:41] jhcepas opened #49 ""if xxx in tree" syntax does not work in leaf nodes"
As reported to the ETE list:

And I have found a case in which it doesn't work: if mytree has a single node. Is this intended or a bug?

[2012-03-23 08:43] #49 closed, assigned to jhcepas

[2012-04-09 08:20] jhcepas opened #50 "preorder traverse is not left-to-right"
Anting Xu , Apr 7 2012

to etetoolkit
I am using ete2.1rev492.

For a tree like this(in newick):
((3,4)2,(6,7)5)1;

Preorder traverse should produce:
1, 2, 3, 4, 5, 6, 7

However, the tree.traverse("preorder") method actually produces:
1, 5, 7, 6, 2, 4, 3

I guess it is a bug in the code. Please confirm. Thanks.

[2012-04-09 08:20] #50 closed, assigned to nobody

[2012-05-17 18:56] fransua opened #52 "double update_items call perhaps unnecessary"
check this line, candidate for removal as it is already called in **init**:

https://github.com/jhcepas/ete/blob/master/ete_dev/treeview/qt4_face_render.py#L121

[2012-05-19 09:06] jhcepas opened #53 "render with no file extension"
The render() method autodetects image format based on filename extension. As Salva suggests (thanks salva), by making your filename to end as ".png", you will solve the problem.
I take note of this issue, so I can add some warnings when render is not called correctly.

[2012-05-22 08:45] jhcepas opened #54 "wrong tree scale in large circular trees"
FROM ETE MAILING LIST:

I'm trying to render a circular tree on a reasonable large data set
(>500 items). Now, when drawing a circular tree, I fail to understand
how ETE determines the length of individual branchelines, let alone
how to override/manipulate them. For example, see
https://docs.google.com/open?id=0B3CT_7L--ZyjeTdfWlF5OEtpb0U.

Now, there seems to be a lot of unnecessary spacing in th

[2012-06-06 11:05] fransua opened #55 "delete node or prune is not summing distances when removing dicotomic nodes"
in the case:
t = Tree('(C,(B,A)H);',format=1)
(t & 'A').delete()
t.write(format=1)
# gives: '(C:1,B:1);'

however I would expect: '(C:1,B:2);'

in the cas we want to remove H node, it can be tricky:
t = Tree('(C,(B,A)H);',format=1)
(t & 'H').delete()
t.write(format=1)
 # '(C:1,B:1,A:1);'

and here I would expect:  '(C:1,B:2,A:2);'

[2012-06-06 15:41] jhcepas opened #56 "EvolTree branch integration"
Merge with fransua's evoltree branch

[2012-06-19 12:39] jhcepas opened #57 "circular tree visualization crashes with single-child-nodes"
(2) I can't display the tree below in circular display. However it works when doing rectangular display. All the branches are length 1, function get_min_radius is doing division by zero.
Is there anyway I can avoid this error? Maybe setting any of the branch lengths to something slightly different to 1? Any hints?

[2012-06-20 09:58] fransua opened #58 "render fails when branch length=0"
with a tree of this kind : ((a:0,b:0):0):0;

qt4_render will return zerodiviision errror line 245

[2012-06-20 14:41] #58 closed, assigned to nobody

[2012-06-22 13:52] fccoelho opened #59 "Feature request: TreeNode.get_ancestors"
Hi,

Would it be very hard to add this method to the TreeNode class? it would return an iterator over the node ancestors, from the closest to the farthest.

[2012-06-26 14:48] fransua opened #60 "TreeStyle import in phylotree"
not needed and causes ImportError when pyqt4 not installed

[2012-06-26 14:51] fransua opened #61 "some newick formats are not working"
this works for me... at least it passes the test

change this:
NW_FORMAT = {
  0: [['name', str, True], ["dist", float, True], ['support', float, True], ["dist", float, True]], # Flexible with support
  1: [['name', str, True], ["dist", float, True], ['name', str, True], ["dist", float, True]], # Flexible with internal node names
  2: [['name', str, False], ["dist", float, False], ['support', floa

[2012-06-29 11:40] #60 closed, assigned to jhcepas

[2012-06-29 12:14] #61 closed, assigned to jhcepas

[2012-06-29 16:39] #59 closed, assigned to jhcepas

[2012-06-29 16:40] #57 closed, assigned to jhcepas

[2012-06-29 16:40] #54 closed, assigned to jhcepas

[2012-07-01 22:38] fccoelho opened #62 "option to show inner nodes on all tree visualizations"
Hi,

I noticed that in the current release, only the ascii visualization of trees have the option to show inner nodes. I would like to have this options for the graphical output as well.

[2012-07-03 11:31] #32 closed, assigned to jhcepas

[2012-07-31 14:47] #55 closed, assigned to jhcepas

[2012-09-30 12:55] khughitt opened #63 "Add support for Python3"
Any chance of adding support for Python 3? I believe all of the dependencies (NumPy, PyQt4, etc) now have Python 3 support.

[2012-09-30 13:30] khughitt opened #64 "Separate tree rendering from display"
Currently, `render_tree` uses PyQt4 to render the tree and write the output to a file.

If the rendering of the tree could be handled separately (using something like [PyCairo](http://www.cairographics.org/pycairo/)) then the library would not be limited based on availability of a particular GUI framework.

Some benefits of this approach would be:
1. Trees could be generated on a windowless server

[2013-01-09 17:17] jhcepas opened #65 "phylomeDB API bug"
<code>

 def __parser_ids__(self, ids):
    """ Returns a string with the input id/s ready to be used in any MySQL query
    """
    if not ids:
      raise NameError(("__parser_ids__: Check your input data '%s'") % str(ids))
    # Define a function to manage the different ids
    parser = lambda id: id[3:10] if ID_PATTERN.match(id) else None

    ids = [ids] if type(ids) == str else ids

    ## I

[2013-01-31 18:47] jhcepas opened #66 "TreeStyle.title is a FaceContainer, but doc says is a string"

[2013-01-31 18:47] jhcepas opened #67 "add alignment options for TreeStyle.title"

[2013-03-06 18:20] jhcepas opened #68 "missing source and target attributes in NexmlTree export"
EMAIL REPORTED:
I have the need to import in ete2 a netwick tree perform decoration with several attributes and
then transform in nexml. Unfortunately the edge tag in nexml does not
have the compulsory attributes "source" and "target" that define tree
topology.  For the decoration I realized that features need to be
loaded in meta with some scripting but does not seems to be a problem.
If you coul

[2013-03-06 19:06] #68 closed, assigned to jhcepas

[2013-04-24 16:24] fransua opened #70 "problem writing phyloxml trees (Ensembl format)"
it seems that phyloxml trees from ensembl do not have a "confidence" field for leaves, causing ETE to crash when calling "tree.write" (because the default value set in super class Tree is not used by the get function of phyloxml_tree).
A quick fix would be to change the _get_support in this way:

[code]

[2013-04-24 16:26] fransua opened #71 "not usefull error message when trying to load a phyloxmltree on an unexisting file"
may be something like this would help:

[code]

[2013-07-10 15:13] #66 closed, assigned to jhcepas

[2013-07-10 15:13] #53 closed, assigned to jhcepas

[2013-07-10 15:13] #46 closed, assigned to jhcepas

[2013-07-10 15:26] #70 closed, assigned to nobody

[2013-09-30 12:57] jhcepas opened #74 "scientific notation of branch lengths in newick format should be optional"

[2014-01-27 12:36] scapella opened #75 "Drawing guiding lines"
On tree visualization when parameter drawing_guiding_lines is set ON associated to a Tree() object works as expected but when associated to a PhyloTree() object is not displayed.

S

[2014-02-14 16:52] scapella opened #76 "Title face"
Hi,

In circular trees, the title face is not properly aligned to the middle of the image.

S

[2014-02-20 17:15] jhcepas opened #77 "return tips breaking monophy in check_monophyly"

[2014-03-11 13:34] fransua opened #78 "enhance SequencePlotFace"
- add xticks/xlabel options
- add xlim option to display only part of the plot
- check problem when plotting without ylim -> log scale should be optional not data dependent.
- re-enable option of "extras"

[2014-04-28 15:24] blahah opened #79 "PhyloXML output is not valid"
The PhyloXML output has the following issues:
- the `phylogeny` element must have a `rooted` attribute.
- `branch_length_attr` is not a valid attribute name; it should be `branch_length`
- branch length should be recorded in _either_ a `branch_length` attribute, or as a `branch_length` element, not both
- the xml fails validation in Archaeopteryx

I will post a minimal example asap

[2014-05-02 11:43] jhcepas opened #80 "scale should respect TreeStyle margins"

[2014-05-02 11:57] #80 closed, assigned to jhcepas

[2014-06-23 17:10] jhcepas opened #81 "add functions to the PhyloTree class to integrate ncbi_taxonomy functionality"

[2014-06-25 11:07] tlnagy opened #82 "Installation failure using pip"
I wasn't able to install ete2 via pip:

[code]

Now, I saw that this had been discussed [before](https://groups.google.com/forum/#!msg/etetoolkit/BKsS0cKdByg/KMH4ZtZqjJ4J) and it was mentioned that the metadata would be updated, but error still seems to crop up. Additionally, the fix used by Kevin Gori from that page did not work for me because `setup.py` would hang after saying that the MySQLdb m

[2014-06-25 14:58] tlnagy opened #83 "How to add text descriptors to highlighted regions in the circular graph?"
I have a graphic that is very dense and it's hard to distinguish between the leaves so I wanted to label over each colored region to indicate what they are:

![test2](https://cloud.githubusercontent.com/assets/1661487/3386925/c21eaf24-fc78-11e3-9ec4-9b36fc9228ff.png)

How could I do this? I would prefer to label over the individual regions themselves, but a legend would work as well. I'm coloring

[2014-07-01 11:25] #83 closed, assigned to nobody

[2014-07-11 11:46] jhcepas opened #84 "visualise internal tree nodes as a circular tree produce crashes"
When I try to visualise the part of the tree as a circular tree, ETE crashes.
Full tree visualises without a problem.

Here is the script:

tree_file = "merged_luca-euk70.PRUNED.nw"
tree = Tree(tree_file)
cs  = TreeStyle()
cs.mode = "c"
mammalia = tree.get_common_ancestor(["9606", "10090"])
mammalia.show(tree_style=cs)

And the error I get, when I try to run it:

Traceback (most recent call last):

[2014-07-12 14:11] fransua opened #85 "Visual representation of branch-site results"
try coloring in red, or underlying a given amino-acid inside the sequences.

also add an exception when calling histogram face with branch models. Currently breaking at line:
https://github.com/jhcepas/ete/blob/master/ete_dev/evol/model.py#L188

[2014-07-14 08:49] #82 closed, assigned to nobody

[2014-07-14 08:49] #84 closed, assigned to jhcepas

[2014-07-15 06:19] mscook opened #86 "Please use warnings rather than printing to stderr"
Hi,

It is really annoying seeing (for example) this:

 MySQLdb module could not be loaded
No module named MySQLdb

It can obviously be disabled by commenting out lines 64-68 in **init**.py.

I think the best way to handle this would be to use the stdlib warnings package. That way warnings could be suppressed -

Please see:
http://stackoverflow.com/questions/14463277/how-to-disable-python-warnings

[2014-07-15 07:37] #62 closed, assigned to nobody

[2014-07-15 07:42] #56 closed, assigned to jhcepas

[2014-07-15 07:43] #36 closed, assigned to jhcepas

[2014-07-18 13:05] fransua opened #87 "add a remove marks function in EvolTree"
or a specific flag in the "mark_tree" function.

[2014-09-14 00:15] tlnagy opened #89 "Cannot import TreeStyle, NodeStyle, faces from latest version in pip?"
I cannot import TreeStyle, NodeStyle, CircleFace etc using `from ete2 import TreeStyle, NodeStyle, CircleFace`. It was working fine using the latest source code, but I switched to using the latest version on pip (v2.2.1072) and now I cannot import several of these very important modules.

Steps to reproduce. Create new virtual environment. Run `pip installl ete2` and start the python interpreter a

[2014-09-15 14:41] #89 closed, assigned to nobody

[2014-10-11 11:00] #79 closed, assigned to nobody

[2014-11-19 09:09] #86 closed, assigned to nobody

[2014-11-19 10:13] jhcepas opened #90 "command line tools"
Include a set of command line tools for common operations

[2014-11-19 10:20] jhcepas opened #91 "better tree comparison functions"

[2014-11-21 14:13] jhcepas opened #92 "SeqMotifFace width is not correctly set, so it may overlap with other faces"

[2015-01-12 15:14] fransua opened #93 "very bad handling of very strange likelihood tests"
the diff to fix it:

    diff --git a/ete_dev/evol/evoltree.py b/ete_dev/evol/evoltree.py
    index 0b35811..14fcda1 100644
    --- a/ete_dev/evol/evoltree.py
    +++ b/ete_dev/evol/evoltree.py
    @@ -467,7 +467,10 @@ class EvolNode(PhyloNode):
            try:
                if hasattr(altn, 'lnL') and hasattr(null, 'lnL'):
                    from ete_dev.evol.utils import chi_high
    -

[2015-01-22 10:38] yoavram commented on #63
I installed the python3 ete (using python3.4 from pyzo 2014a):
[code]
then ran the tests:
[code]
got [this output](http://pastebin.com/PTiNLetk)

[2015-02-04 09:16] jhcepas opened #94 "Tree Browser redraw problem bug"
In tree browser, when I am trying to change a feature value in the properties dialog, after hitting the Enter I get this error message:

.../lib/python2.7/site-packages/ete2/treeview/qt4_gui.py in apply_changes(self)
    604         self.update_properties(self.node)
    605         self.scene.img._scale = None
--> 606         self.redraw()
    607         return
    608

AttributeError: '_Properti

[2015-02-23 14:56] #4 closed

[2015-02-23 14:56] #6 closed

[2015-02-26 15:20] alexjironkin opened #95 "Labels for columns in heatmap"
Hi,

I have noticed that heatmap columns in the treeview don't have labels, although they are in the heatmap file in the first line starting with "#Names,..."

It would be great to include these labels, otherwise it's not clear on a large heatmap what column is what.

[2015-02-27 09:17] jhcepas commented on #95
True, currently this is only possible by creating the heatmap manually. Not difficult, check this example:
https://groups.google.com/d/msg/etetoolkit/UZSGxdTIaRQ/fiRI1n0nqZgJ

[2015-02-27 14:38] alexjironkin commented on #95
:+1: Huge thumbs up for this.

Thanks.

[2015-02-27 14:49] #95 closed

[2015-03-03 21:01] #90 closed

[2015-03-03 21:58] #37 closed

[2015-03-03 21:58] #44 closed

[2015-03-11 20:54] #94 closed

[2015-03-11 20:56] jhcepas commented on #91
done by integrating "ete compare" into Tree.compare and RF method

[2015-03-11 20:56] #91 closed

[2015-03-11 20:57] jhcepas commented on #81
ncbi_taxonomy module already added, integration through the PhyloTree.annotate_tree function

[2015-03-11 20:57] #81 closed

[2015-03-12 06:30] #74 closed

[2015-03-26 20:26] alimanfoo commented on #63
+1, I'd like to use ETE but the rest of my dev/analysis environment uses PY3 so this is a blocker.

[2015-04-15 13:10] jhcepas opened #97 "branch lengths that can't be interpreted are silently replaced with 1.0"
sent to the support list by @gregcaporaso
I was doing some experiments with ete2 this morning, and I came across what I think is a bug. I've illustrated the problem in this notebook:
http://nbviewer.ipython.org/github/gregcaporaso/sketchbook/blob/master/ete2-experiments/ete2-branch-length-issue.ipynb

The problem is that if ete2's newick parser can't interpret a branch length (e.g., because you sp

[2015-04-15 13:13] jhcepas commented on #97
hopefully fixed with 17080edc816690b711e28649995d8ef9015e04ee
additional tests required..

[2015-04-16 20:01] maclandrol opened #98 "math domain error in SequencePlotFace"
Finding ylim raise a math domain error in SequencePlotFace.
More details about the error can be found here :
http://nbviewer.ipython.org/gist/maclandrol/a08abf27b1907e7f01ae

I believe it was introduced in commit 5d4b301b9c2cde4477448017136bfea91a7ac88d.
But since SequenceFacePlot is essentially used internally for site model hypothesis testing, this error was never encountered.

[2015-04-16 20:30] jhcepas commented on #98
thanks,
@fransua, could you take a look. It seems easy to fix

[2015-04-20 20:45] jhcepas commented on #98
solved with b75a4974c092907f78431a8aaf36d5abbe8f7647

[2015-04-20 20:45] #98 closed

[2015-04-23 07:56] alexjironkin opened #100 "Changing stroke size of branch lines"
Hi,

I had a look through the documentation to find a way to increase branch stroke size, but couldn't. I have a large tree in heatmap that I generate from Newick format using

[code]

Any ideas how to make the lines thicker?

[2015-04-23 09:06] jhcepas commented on #100
You can use NodeStyle attributes, ie. NodeStyle['hz_line_with']

Docs at:
https://pythonhosted.org/ete2/reference/reference_treeview.html#nodestyle

bw,
Jaime

El jue. 23/04/2015, 9:56, alexjironkin <notifications@github.com> escribió:

[2015-04-23 09:43] alexjironkin commented on #100
Thanks,

I wrote a little function that may help others with the same task because it looks like it needs to be done recursively for all nodes in the tree:

[code]

Thanks

[2015-04-23 09:43] #100 closed

[2015-04-23 17:54] JohnReid opened #101 "ETE: cannot connect to X server"
ETE exits python when I try to render a tree without an X server. This is a real shame as I want to run it on a server (without X) to serve tree images from. Is there any way around this?

[2015-04-23 19:42] jhcepas commented on #101
Sorry, this is a known issue. The only way to get the renderer working is having an X server. It is actually a limitation of Qt4, which ETE uses for drawing. A minimal X system would be enough, or even using a forwarded X display.

We know this quite annoying and we are working on an Qt4-free renderer.

[2015-04-24 06:50] JohnReid commented on #101
Thanks for the reply. Is it possible for it to raise an Exception rather than exit python? I might try to use xvfb as a headless dummy Xserver.

[2015-04-24 07:35] jhcepas commented on #101
The exit call seems to be raised by qt4, so all we can do is to check before importing the library. Shouldn't be difficult, I will look into it.

Let us know if xvfb works, never tried before.
Thanks!

[2015-04-24 14:51] JohnReid commented on #101
xvfb worked a dream. After installation as an Ubuntu package, I could just preface my webserver command line with `xvfb-run` and a dummy Xserver was created that allowed ete2 to render my images. Thanks for ete2 and the feedback on this issue.

[2015-04-24 14:51] #101 closed

[2015-04-26 07:01] denfromufa opened #103 "networkx compatibility"
Can I draw networkx generated trees with ete?

[2015-04-26 08:13] jhcepas commented on #103
what tree format does networkx generate?

[2015-04-27 02:35] denfromufa commented on #103
Networkx generates graphs, the graph can be checked for tree property like this `is_tree(G)`

https://networkx.github.io/documentation/latest/reference/algorithms.tree.html

Here is the list of graph formats supported by networkx:

GEXF, GML, GraphML, JSON, LEDA, YAML, SparseGraph6, Pajek, GIS Shapefile, etc.
http://networkx.lanl.gov/reference/readwrite.html

[2015-04-28 08:09] jhcepas commented on #103
ETE supports only newick, nexml and phyloxml. however, converting from json or yaml should be very easy. If you can dump parent-child pairs, something like this should work as a parser:

[code]

[2015-05-01 07:43] VidJa commented on #63
Hi Keith and Jaime,

is there any progress in the Python 3 development. My pipelines are converted to Py3 as well.

[2015-05-01 10:59] khughitt commented on #63
@VidJa Python 3 support was recently merged from another PR into the ETE 3.x branch (issue #105) for testing, so it is on its way to master. In the meantime, you might consider trying out the 3.x branch to see how it works and report any issues you come across.

[2015-05-01 21:20] VidJa commented on #63
Thanks Keith, i'll give it a try when I'm back from holidays. Would be
awesome to run in a snakemake pipeline. How do I build the package?

Cheers Vic
Op 1 mei 2015 12:59 schreef "Keith Hughitt" <notifications@github.com>:

[2015-05-02 08:32] #103 closed

[2015-05-02 08:50] jhcepas commented on #63
@VidJa, you can clone branch 3.x and run 'python setup install'.
The module name in branch 3.x has changed from ete2 to ete3, so it should not interfere with previous ETE installations. Everything works the same in the new branch, just import using the ete3 module name.

Basic tests seem to run ok in python 2.7 and python 3.4, but I suspect many issues will still appear. Please report any problem

[2015-05-06 14:19] jhcepas opened #107 "How do I find a leaf by its name?"
[code]
or to find a single leaf node
[code]

[2015-05-06 14:19] #107 closed

[2015-05-12 09:52] jhcepas commented on #97
added more tests. seems to be solved

[2015-05-12 09:52] #97 closed

[2015-05-12 12:41] SimonGreenhill commented on #63
One issue I've come across is that tree.get_topology_id() crashes with "TypeError: Unicode-objects must be encoded before hashing":

[code]

Traceback:
[code]

[2015-05-19 10:09] jhcepas opened #109 "handling negative values in BarChartFace"
Yes I have tried with the following results:

- With min_value=None the the scale works as intended.

- With a user defined  min_value, either negative or positive, does not seem to change the min_value from 0.

Both of these tests were done using the tree.aligned_header.add_face method to add the BarChartFace.

Also is there a way to eliminate BarChartFace's scaling or at least enter a compensato

[2015-05-19 10:12] jhcepas commented on #65
currently a deprecated module

[2015-05-19 10:12] #65 closed

[2015-05-19 10:17] jhcepas commented on #76
it should actually be aligned to the left.

[2015-05-19 10:17] #76 closed

[2015-05-19 10:19] #40 closed

[2015-05-19 10:20] #25 closed

[2015-05-19 10:20] #19 closed

[2015-05-19 12:46] #93 closed

[2015-05-19 14:13] #75 closed

[2015-05-19 14:52] #109 closed

[2015-05-25 14:22] fccoelho commented on #103
It would be nice to implement a method `from_networkx` which would for treeness and return a ETE Tree object.

[2015-06-01 13:32] a1an77 opened #111 "Parentheses within quoted names are not ignored"
While parsing a NEWICK tree (format == 1), quoted parentheses (e.g. in node names) are treated as part of the three structure specification, leading to wrong results. The false nodes resulting from these parentheses show a dist attribute == 1

Special characters within quoted text should be ignored

[2015-06-01 13:39] jhcepas commented on #111
Yes, ETE does not support quoted node names, so you cannot use any of the reserved symbols ")(,:;" as part of the node name.

however, ete 2.3 should raise an error if the newick string is broken with, for instance, a names containing parenthesis. could you send around an example to reproduce it and the version of ETE you are using ?

tx

[2015-06-01 13:59] a1an77 commented on #111
Version is
ete2==2.2.1072

I'm working with a large data file but I guess also a small sample with something in parentheses within braces would do the trick. I'll come back to generate one as soon as I have a minute.

[2015-06-01 14:34] jhcepas commented on #111
Ok, thanks for reporting it.
Please upgrade to 2.3 if possible. It does not support quoted names, but at least you will see an error raising when using reserved symbols.

[2015-06-02 08:08] a1an77 commented on #111
What would it take to add such functionality? I can have a look at it with some guidance.

[2015-06-02 09:16] jhcepas commented on #111
it will not be completely trivial. The newick parser uses regular expressions to read node information (i.e. names, branch length, support and extended newick strings).
Also, the most problematic part would be at
https://github.com/jhcepas/ete/blob/master/ete2/parser/newick.py#L255

where the newick string is split by "(" prior to any parsing. That split function should be reimplemented to work as

[2015-06-07 17:28] michaelalfaro opened #112 "support for drawing time-calibrated trees"
it would be super helpful if ete2 added features to draw time-calibrated trees. Here are some aspects that would be helpful:

1) support for drawing time intervals across the tree
2) node faces that would show calibrated nodes and ranges on other nodes
3) support for drawing credible intervals across internal nodes

![image](https://cloud.githubusercontent.com/assets/243436/8025116/55932aa4-0cff-1

[2015-06-09 06:07] jhcepas opened #113 "branches not aligned in ultrametric trees when using vt_line_width > 0"
you can see the branches are lined up in figtree and not in ete2….

![image](https://cloud.githubusercontent.com/assets/163658/8051584/86cbfe04-0e7e-11e5-9209-5b5b7af226bf.png)

[2015-06-09 10:21] #113 closed

[2015-06-09 10:24] jhcepas opened #114 "Windows installation not working since 5-20 update"
reported to the mailing list:

Hello all,

I've found the windows installation doesn't work with the new 5-20 update (older versions of ete2.3 seem to be missing as well, as I believe the initial release installed correctly).

Here is the error I am getting:

byte-compiling build\bdist.win32\egg\ete2\__init__.py to __init__.pyc
installing package data to build\bdist.win32\egg
running install_data

[2015-06-09 22:19] meren opened #115 "ete2 v2.3.2 fails to parse properly formatted NEWICK tree"
The same tree is parsed properly in 2.2.* versions.

Here it is the relevant part of the error message:

[code]

And here is the NEWICK data that causes this:

[code]

Thank you very much in advance.

[2015-06-10 03:54] jhcepas commented on #115
@meren,
you need to load the tree using format 1 (http://pythonhosted.org/ete2/tutorial/tutorial_trees.html#reading-and-writing-newick-trees), which allows for internal node names. Otherwise, support values are expected.

tree = Tree(newick, format=1)

ete2.2 was less strict, which could lead to problems:. https://github.com/jhcepas/ete/issues/97

[2015-06-10 03:58] meren commented on #115
Thank you very much!

I am sorry I missed this.

[2015-06-10 03:58] #115 closed

[2015-06-10 06:29] #114 closed

[2015-06-12 08:37] a1an77 commented on #111
I have created a synthetic NEWICK file that gives the following error:
ete2.parser.newick.NewickError: Broken newick structure at: ....
but I am unable to attach it here, where should I send it?

[2015-06-12 08:57] jhcepas commented on #111
too bad that github does not allow for attachments in the issue tracker!
can you create a Gist with it? https://gist.github.com/

[2015-06-12 09:07] a1an77 commented on #111
Done, I guess it is accessible here: https://gist.github.com/a1an77/3f56e2fa88b9309b851a

[2015-06-12 09:18] jhcepas commented on #111
yes, it is accessible
The error is the expected behaviour in this case, as quoted names are not supported and your example contain reserved newick characters within names, such as commas and parentheses

[2015-06-12 09:41] a1an77 commented on #111
Good, than it's a good test case for feature development. I'll have a look at it :)

[2015-06-12 12:14] a1an77 commented on #111
Instead of altering the logic of the parser I've used a dictionary to replace quoted text with atomic, unquoted textual references, these are then put back directly into the parsed tree. I've just made a pull request for your review

[2015-06-17 14:01] a1an77 commented on #111
I also had to move the reference mapping code before the parentheses test to avoid unbalanced parentheses in quoted text to raise an error. Let me know if the pull request is ok or if I have to do something different.

[2015-06-17 14:05] jhcepas commented on #111
oki, many thanks! I need to check and test it carefully. This touches a core feature in ETE and I want to make sure it does not introduce any problem or performance issues.

[2015-07-12 17:08] gregcaporaso opened #117 "py2/urllib failure"
Trying to test with the scikit-bio cookbook and getting this failure under py2: https://travis-ci.org/biocore/scikit-bio-cookbook/jobs/70627406

[2015-07-13 18:51] #117 closed

[2015-07-14 13:48] jhcepas commented on #63
FYI, the "master" and "3.0" branches are now providing Python 3 support. The porting is not fully stable yet, but all tests in the Tree class run ok and Visualization is also working. The plan is to keep the most stable version under the branch "3.0", and develop in master.

thanks to all contributors!

[2015-07-17 09:48] jhcepas opened #119 "command line PIPE's not working in OSX"
ETE seems to be affected by this readline.py bug (http://bugs.python.org/issue19884)
when using ete tools with PIPEs is OS X. For instance, the following command fails:
[code]

[2015-07-22 08:06] sam-m888 opened #122 "API Tutorial PDF File link 404."
FYI: From the link: http://etetoolkit.org/documentation/

Section:
* Documentation
    - API Tutorial online or PDF.

The link ( http://pythonhosted.org/ete2/_downloads/ETE.pdf ) to the PDF is ( 404 Not Found )

[2015-07-22 08:54] jhcepas commented on #122
solved.

[2015-07-22 08:54] #122 closed

[2015-07-23 18:00] jhcepas opened #125 "blank gap in StackedBarFaces"
From the mailing list:

I've been using ete for the past month and find it extremely useful.

However, I seem to have hit a bug or at least small issue with it.

I'm trying to plot StackedBarFace but I notice that sometimes the plot appears with a white (or whatever color the background is set to) dash or better said, a gap, inside the stacked bar plots, as you can see in the attached figure.

Thi

[2015-07-24 09:31] #125 closed

[2015-08-03 12:07] ilpepe opened #126 "Extra info in circular mode, extra info ring"
Hi,
I wonder if it is possible to add the bars shown in this example http://etetoolkit.org/static/img/gallery/phylomedb_tree.png (so not the seq data), to a circular drawn tree, and how I should do this?

I would like to make something like: https://bitbucket.org/nsegata/graphlan/wiki/step_4.png
however, the ncbi integration in ete is just wonderfull to work with...

Is this possible and how?

[2015-08-03 12:10] #126 closed

[2015-08-05 17:53] jhcepas opened #127 ""ete build" support in OSX"
"ete build"  allows to run phylogenetic workflows with a single command line, both gene-tree or supematrix-trees. However, it has no support for OSX because:

* It requires external software that should be downloaded and compiled properly when running "ete build install_tools".
* the tool uses file operations, multithreading, scheduling and other stuff that has only been tested in linux.

ete-buil

[2015-08-05 20:49] jhcepas commented on #127
Ok, the problems with the compilation process are due to missing libraries in Xcode: argtable2 and openmp. I have enabled an new version of the external tools package that should solve the argtable, but still you need openmp. Xcode's gcc command is actually a link to clang (which apparently misses openmp support). So, the solution is get a proper gcc installation

I have also updated some compatib

[2015-08-05 22:53] roblanf commented on #127
I followed @jhcepas' instructions above, on a MacBook air with OSX 10.10.1.

Here's what I got:

'''
Mellisuga:~ robertlanfear$ ete build install_tools
Downloading latest version of tools...
target directory? [/Users/robertlanfear/.etetoolkit/]:
Decompressing...
Compiling tools...
Compiling fasttree ... ERROR
Compiling fasttree. Check log /Users/robertlanfear/.etetoolkit/ext_apps-latest/fasttree.l

[2015-08-05 22:57] jhcepas commented on #127
@roblanf, thanks! can you make sure you are using Anaconda's gcc?
i.e `which gcc` right before running `ete build install_tools`
If so, I guess we need to try to install OpenMP from i.e. homebrew

At least argtable2 fix seems to work

[2015-08-05 22:59] roblanf commented on #127
Out of my depth here, so I don't know if I'm using the right one (i.e. I'll need hand-holding instructions if I need to do anything), but I get:

[code]

If it's the wrong one, how do I change it?

[2015-08-05 23:02] jhcepas commented on #127
ok, so does not point to anaconda. Did you run `conda install gcc` first? once done, all you need is to activate you anaconda environment (`export PATH=/Users/jhc/anaconda/bin:$PATH;`) and run `ete build install_tools`. Make sure you raplace the `/Users/jhc/anaconda/bin` with your correct path

[2015-08-05 23:17] jhcepas commented on #127
I will try to write an installation script to make things easier.

[2015-08-05 23:23] roblanf commented on #127
Ack. Sorry, I missed the gcc install. My fault. From a users perspective (esp those users who are less familiar with diagnosing these issues themselves, like me) I wonder if you could put in a check for anaconda's gcc at the top of ```ete build_install_tools```, and spit a nice error message if it's not there?

In any case, now I get something that looks right:
[code]

and everything builds OK:

[

[2015-08-05 23:29] jhcepas commented on #127
cool, so it actually worked. instead of `example.fa`,  try any small FASTA file containing aa (i.e. http://etetoolkit.org/static/data/p53.fasta). `ete build` command should give you a tree built using the EggNOG workflow.

Anaconda is not the only way to make it run, so I should not harcode it. But I will try to provide a script to build and check the installation. So far, good need it compiles in

[2015-08-05 23:47] roblanf commented on #127
OK, I tried that file. It seems to work fine. It took ~15 minutes to run, and I get a tree (various formats, incl pdf) at the end.

So, it looks like it works fine on OSX!

Unrelated note: it would be great if you could also output a tree with shorter species names. The trees I have contain such long names (I think the entire FASTA header, plus more info) that I can't open them in FigTree.

[2015-08-05 23:52] jhcepas commented on #127
Awesome, thanks for helping! Workflows using dialing-tx are still failing, I will check tomorrow. Probably small issue are still hidden...

(re species names: Perhaps you are trying to load NHX format, instead of plain newick? Anyways, if you find an output ETE tree that does not load in figtree, send it to me. I will take a look). thnx again!

[2015-08-06 00:27] roblanf opened #128 "species names too long?"
Thought I'd raise this as a separate issue. The basic problem seems to be that the species names in the output file are very very long. I wonder if it's possible to add another newick output file with trimmed down species names (e.g. by splitting at the first whitespace (and/or 20 chars, whichever is shorter), and appending a number if that gives identical names).

An example, using this file: htt

[2015-08-06 02:04] mlandis commented on #127
Howdy, I just tried installing using `wget http://etetoolkit.org/static/ete_osx.sh -O ete_osx.sh && bash ete_osx.sh`. On the first run I canceled the script to upgrade the out-of-date packages to upgrade using homebrew instead of through the script (homebrew is territorial about /usr/bin stuff).

On the second run I tried to install to a custom directory, full path provided. The installation gave

[2015-08-06 06:13] jhcepas commented on #127
@mlandis the script will try to install Anaconda framework + latest ete dev + running the test. I does not require nor interfere with your Macports/HomeBrew/PreviousAnaconda installations.
Did you try to let it running completely?

If you want to try another approach like homebrew, you will need to install openmp (omp.h), you will need to force using the homebrew gcc version (for instance, with an

[2015-08-06 09:26] dinhe878 commented on #127
I managed to install all the packages and tested fine on my MacBook Air (OS 10.10.4) using Anaconda's python distribution. However, the same process failed on my Mac Pro (OS 10.9.5). It seems that something is not right about the gcc compiler (the Anaconda's gcc 4.8.2). Non of the tools were compiled and here I just post the log for fasttree for the sake of space.

###
rm -f FastTree *.o *~
gcc -W

[2015-08-06 09:54] jhcepas commented on #127
I tested on 10.9.5 and worked. Did you try the basic-test-script?
I'll also be available on this chat room, if need any help https://gitter.im/jhcepas/ete?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2015-08-08 10:07] dinhe878 commented on #127
For anyone runs into some complication of building ete external tools on Macs, here is my work around.

My situation is compiler issue and for some reason the Anaconda version compiler refuses to find the proper library path. So what I did is essentially install the GNU gcc (I installed v4.9.2) separately and use it to compile the tools.

Get and install your gcc -> https://gcc.gnu.org/install/
An

[2015-08-12 15:32] scapella opened #129 "failure when adding non-consecutive columns in "add_face_to_node""
I have found problems when creating a customize layout with the function add_face_to_node.

Depending on certain variables, faces are added or not. Therefore, it may happen that certain columns contains no face - when this occur, the render fails when looking for those unexisting columns.

I have try to reproduce this situation with a toy example but I haven't managed - which it is a pity.
However

[2015-08-12 17:03] scapella opened #130 "[Tutorial] Phylogenetic trees and sequence domains - impossible to reproduce"
When using the example provided at the tutorial, there is no correspondence between the image shown and the results of running locally the same example.

S

[2015-08-13 15:36] jhcepas commented on #129
Hi Salva, thanks for the report. I would really need a test case in here...

Faces created within a layout function are temporary and are removed after showing/rendering the tree.

[2015-08-13 16:03] scapella commented on #129
I have only being able to reproduce this behaviour when running a web
application.

My gut feelings are towards the action mapping you are doing when rendering
the image because the workaround for this behaviour is to associate an
empty face (RectFace(0,0, ..., ...)) to the unused columns.

Cheers!

S

On Thu, Aug 13, 2015 at 5:36 PM, Jaime Huerta-Cepas <
notifications@github.com> wrote:

--
Salva

[2015-08-17 19:01] jhcepas commented on #127
is anybody able to install/run dialign-tx alone under OS X? Seems to compile well, but it never starts computing and shows the help message all the time. Perhaps OSX not officially supported? any hint is appreciated!

[2015-08-19 15:08] jhcepas commented on #129
thanks @scapella . If the failure is only affecting the webapp plugin, no test-case is available, and a workaround is already available, I will probably leave the issue unsolved.

It may take too long to debug it and the plans are actually towards substituting the webapp plugin by a SVG based alternative.

[2015-08-19 15:11] jhcepas commented on #130
@scapella, thanks. The documentation is indeed outdated. I have also observed a couple of inconsistencies on the SeqMotifFace constructor. I will add the fixes to the next minor upgrade

[2015-08-19 21:19] muppetjones opened #131 "Import Error"
I'm trying to avoid using Miniconda, and I'm using Homebrew instead of Macports, so I tried forking the git repo and adding the project to `PYTHONPATH`.

Unfortunately, this fails miserably whether I use the `2.3` or `master` branch:
[code]
And it's not just `TreeStyle`, but most of the packages except for `Tree`.

I even tried installing `ete2` using `pip`, which installed fine, but still gave me

[2015-08-20 05:52] jhcepas commented on #131
@muppetjones if don't want to install Miniconda, and still use the graphical capabilities, you will need to meet dependencies with homebrew. You just need to install python-lxml pyqt4 and numpy from homebrew (all should be available as packages) . To use ete-build, you will also need to install a GCC compiler.

The same applies to Macports, all dependencies can be installed from its reposotory.

[2015-08-20 16:13] muppetjones commented on #131
Ah. Thank you for the info. I missed pyqt4 for my venv. Turns out I needed to copy the `PyQt4` and `sip` contents from `site-packages` into the same folder in my virtual environment.

[2015-08-21 05:30] #131 closed

[2015-08-27 19:42] jincao1 opened #132 "get_name_translator for ambiguous names"
NCBITaxa.get_name_translator may not work as intended for ambiguous names.

For example.
Searching for 'Bacteria' may return the wrong ID.  There are two taxid corresponding to Bacteria, which are 2 and 629395 but since it writes into a dictionary in the order it's returned from the query, the latter one overwrites the first one.  629395 will be returned but the user may have wanted 2.

[2015-08-27 20:00] jhcepas commented on #132
@jincao1, I see, I didn't know there could be collisions of this type. I guess both taxids should be returned, but that would require modifying other methods depending on get_name_translator().
thanks a lot for reporting this

[2015-08-27 20:07] jhcepas commented on #129
cannot reproduce. please reopen if a test case is available.

[2015-08-27 20:07] #129 closed

[2015-08-28 08:43] jhcepas commented on #132
the values in the dictionary returned by get_name_translator() are now lists, so multiple hits are reported:
[code]

[2015-08-29 07:15] jhcepas commented on #132
The fix is now integrated in version 2.3.7, just released. Thanks @jincao1

[2015-08-29 07:15] #132 closed

[2015-09-09 01:20] tmargus opened #134 "NewickError: Unexpected newick format"
I have latest ete2.3 and ete_tools installed in my max osx 10.10.5 and using anaconda python 3.4 and 2.7 in virtual env. Current error is produced in python 2.7 env.  Python 3 and ete3 are complaining also about newick format but are giving tree at least.  Command is following

ete ncbiquery --search 9606 'Mus musculus' 'Gallus gallus' 7227 --tree | ete view --ncbi --text

Traceback (most recent c

[2015-09-09 02:12] jhcepas commented on #134
You are on OS X, aren't you? This is related with #119, a readline bug in Python/OSX. The workaround is to force a different terminal type:

TERM=vt100 ete ncbiquery --search 9606 'Mus musculus' 'Gallus gallus' 7227 --tree | ete view --ncbi --text

don't know yet if I can solve it from ETE's side

[2015-09-09 02:47] jhcepas commented on #119
should be solve in version 2.3.8

[2015-09-09 02:47] #119 closed

[2015-09-09 02:48] jhcepas commented on #134
It was easiest than expected. It should be solved in version 2.3.8 (just released).
thanks for reporting it!

[2015-09-09 02:48] #134 closed

[2015-09-09 20:57] tmargus commented on #134
Thanks!
It worked perfectly.

[2015-09-14 14:15] MathGon opened #136 "Name order"
Is there a way to order alphabetically different nodes with distance = 0 ?

[2015-09-15 06:30] jhcepas commented on #136
by default, the function "node.sort_descendants()" sort branches based on node names. You can change the node attribute used for sorting (i.e. sort_descendants(attr="species_code"))

The algorithm is actually very simple, you can change it if more control is needed:
[code]

[2015-09-17 11:18] #136 closed

[2015-09-22 14:36] #128 closed

[2015-09-23 12:08] jhcepas opened #137 "interoperability with scikit-bio"
something like `Tree.from_skbio(...)` and `Tree.as_skbio(...)`

1) The method should accept/return skbio Tree instances.
2) Is it possible to avoid newick serialisation?
3) any special attributes in skbio Trees that need to be converted?
4) support for alignment objects?
5) any idea or feature request for a better integration between packages?

An alternative would be to overload the constructor a

[2015-09-23 12:10] jhcepas opened #138 "add interoperability with BioPython"
something like `Tree.from_biopython(...)` and `Tree.as_biopython(...)`

1) The method should accept/return biopython Tree instances.
2) Is it possible to avoid newick serialisation?
3) any special attributes in Biopython Trees that need to be converted?

[2015-09-23 12:14] jhcepas opened #139 "add interoperability with Dendropy"
something like `Tree.from_dendropy(...)` and `Tree.as_dendropy(...)`

1) The method should accept/return dendropy Tree instances.
2) Is it possible to avoid newick serialisation?
3) any special attributes in dendropy Trees that need to be converted?
4) any idea for better integration between packages?

[2015-09-24 11:55] jhcepas opened #140 "more application bindings for ete-build"
ExaML
IQ-Tree
phylobayes

[2015-09-29 16:37] wasade commented on #137
I like this. The easiest place to start is serialization to newick -- from skbio's side, what we care more about right now is the interface and we can optimize the conversion later. It is likely that there are smarter things that can be done as ete's `Tree` is derived from `PyCogent` as I understand it, as is skbio's `TreeNode`.

There shouldn't be any special attributes needed to be converted --

[2015-10-21 17:01] gregcaporaso commented on #137
@jhcepas, what's your current timeline for Py3-compatibility?

[2015-10-27 10:47] jhcepas commented on #137
hey, sorry I didn't see this until now @gregcaporaso.
Py3 support is actually not high priority at the moment, unless it becomes a blocker for any other important stuff. However, support it is pretty much ready on the 3.0 branch and would only require small changes, full testing and updating documentation before labelling it as stable. Most of my coding is now focused on improving performance and

[2015-10-27 20:07] gregcaporaso commented on #137
@jhcepas, is the 3.0 branch up-to-date in terms of features in the rest of the project, or is development happening elsewhere that is not being merged into 3.0? scikit-bio is likely going to go Py3-only at some point in 2016, just FYI (we have an open RFC on this [here](https://github.com/biocore/scikit-bio-rfcs/pull/6/files) which describes our motivations). If you're able to commit to Py3 suppor

[2015-10-28 13:16] jhcepas commented on #137
@gregcaporaso, sounds good. Branch 3.0 is complete in terms of features and passed all basic tests on tree operations (~90% cov), viz, parsers, etc. However, some parts would still require farther testing, such as the command line tools. I kept the 3.0 branch untouched as I know you were doing some tests with it.

Main development occurs on master (receiving all work on Py3 porting and general bug

[2015-10-28 22:32] gregcaporaso commented on #137
Great! Let's get in touch about it again when 2016 gets a little closer...

[2015-10-29 10:58] jwillis0720 commented on #138
I will work on the biopython side, something like `biopythontree.to_ete()`

[2015-10-30 09:35] jhcepas commented on #138
thanks @jwillis0720, please keep us posted of any progress

[2015-11-13 17:09] uownr opened #141 "pip3 install error OSX 10.10.5"
When trying to install I get the following error message:

Bennis-Minion:~ ulrich$ pip3 install ete2
Collecting ete2
  Downloading ete2-2.3.10.tar.gz (8.9MB)
    100% |████████████████████████████████| 8.9MB 57kB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "/private/var/folders/1v/ybckk17

[2015-11-13 17:17] jhcepas commented on #141
ete2 is does not support Python3

you need to use Python 2.7, or installing the latest ete code from the
master branch (which should be py2/py3 compatible).
The module name for the new version under master is "ete3". Everything
should be functional, but still not fully tested and documented for Python
3. If you use it, please report any issue and I will fix asap.

thanks
-jaime

On 13 November 201

[2015-11-13 17:29] uownr commented on #141
OK, will have to look up how to install this master branch as I have never installed from outside pip3's know package structure. As stated I am really new to this process. Will report back on result.

[2015-11-13 17:31] jhcepas commented on #141
you should be able to install/upgrade with something like:

pip install --upgrade https://github.com/jhcepas/ete/archive/master.zip

On 13 November 2015 at 18:29, uownr <notifications@github.com> wrote:

[2015-11-14 19:50] #141 closed

[2015-11-18 10:57] hyanwong opened #142 "Allow URLs in ImgFaces"
Is there any chance of adding the ability to use an image from a url in faces.ImgFace(). (from https://groups.google.com/forum/#!topic/etetoolkit/El61_We2w00).

[2015-11-18 11:00] hyanwong commented on #142
p.s. I have a temporary hack, below

    from ete3 import faces, Face
    from PyQt4.QtGui import QPixmap
    from urllib.request import urlopen

    class URLImgFace(Face):
        """Hacked ImgFace() routine, for monkey patching"""

        def __init__(self, img_file, width=None, height=None):
            Face.__init__(self)
            self.img_file = img_file
            self.width = width

[2015-11-18 11:24] hyanwong commented on #142
p.p.s for reference / possibly documentation, the Encyclopedia of Life has a large number (tens of thousands) of creative-commons / public domain thumbnail images available via API, e.g. this example of the species *Danio rerio* used in your documentation http://media.eol.org/content/2015/11/18/06/84204_88_88.jpg from http://eol.org/data_objects/26785411. There's also the silhouette images in http

[2015-11-23 00:03] Unode opened #143 "Play / Pause tutorial videos/animations (currently GIF files)"
The tutorial video at http://etetoolkit.org/documentation/tools/ is a GIF file.

This works for illustration purposes but makes it somewhat hard to use as a reference/tutorial. The commands vanish before one can fully copy it, copy-paste is not possible and there's no way to pause the animation.

To address these minor issues https://asciinema.org/ could be used.

[2015-11-23 10:49] jhcepas commented on #143
this is really cool! Thanks.

[2015-11-23 10:49] #143 closed

[2015-11-23 22:09] #127 closed

[2015-11-25 10:59] #130 closed

[2015-11-25 11:03] jhcepas commented on #137
@gregcaporaso @wasade how should I do the export function "tree.as_skbio()"? 1) serialize newick from ete and load into (skbio)TreeNode 2) export extra node attributes in the ete nodes (would require programmatic creation of the skibio tree structure)

btw, do you store branch support somewhere in your TreeNode instances?

[2015-11-25 11:10] jhcepas commented on #138
@jwillis0720 is there only one Tree Instance type in BioPython? i.e. nexus, newick, nexml parsers always return the same instance type?

[2015-11-25 16:25] wasade commented on #137
I think 1 makes sense. For 2, how are they represented in ete now, just as
attrs on the nodes like in cogent? For length, its just .length on an
instance like in cogent
On Nov 25, 2015 3:04 AM, "Jaime Huerta-Cepas" <notifications@github.com>
wrote:

[2015-11-25 17:48] jhcepas commented on #137
ok, I wil stick to 1
ete stores node features as normal attributes, but keeps track of them to know what to export in extended newick format some other minor things.

[2015-11-25 18:07] wasade commented on #137
The path of least resistance might be to assign unique node names, and
serialize a dict of attributes keyed by the node name? The more
comprehensive solution may be to write an extended newick parser for skbio

On Wed, Nov 25, 2015 at 9:48 AM, Jaime Huerta-Cepas <
notifications@github.com> wrote:

[2015-11-25 18:19] jhcepas commented on #137
If skbio only uses name and length attributes at the moment, let's keep a basic newick serializing.

We can improve it in the future by using something similar to what I did in  Tree.from_skbio(): it creates the tree structure programmatically, tracking extra attrs (i.e. id) and their types (https://github.com/jhcepas/ete/commit/b3d4c15c81615ce09d0070a2e33d3147358b7270)

[2015-11-27 23:24] gregcaporaso commented on #137
This approach makes sense to me, thanks Jaime!

On Wed, Nov 25, 2015 at 11:19 AM, Jaime Huerta-Cepas <
notifications@github.com> wrote:

[2015-11-28 13:02] #142 closed

[2015-11-28 13:02] #140 closed

[2015-11-28 13:03] jhcepas commented on #87
isnt it solved now with ete-evol?

[2015-11-28 13:04] jhcepas commented on #85
@fransua, I guess we can close this when the GUI has the option to switch among results from diff models...

[2015-11-28 13:06] jhcepas commented on #63
'pip install ete3'  should now be operative for testing the new beta release.
All unitests are currently passed with py2 and py3, but not everything is covered (i.e. command line tools).

[2015-11-28 15:47] #87 closed

[2015-11-28 15:50] fransua commented on #85
I think we can use this feature indeed, but have to represent them as site models.

[2015-12-03 15:01] gregcaporaso opened #159 "ete3 install instructions are missing the scipy and six dependencies"
Really excited to have Python 3 support @jhcepas! I noticed a couple of missing dependencies following the install instructions [on the website](http://etetoolkit.org/download/). Are there more updated install instructions that I'm not seeing?

I installed on OS X as follows:

[code]

Then, I conda install ipython. When I then try to import ete3 in ipython I get errors that six and scipy aren't in

[2015-12-07 11:23] jhcepas commented on #159
thanks @gregcaporaso
should be fixed in the new web page

[2015-12-07 11:23] #159 closed

[2015-12-07 15:30] gregcaporaso commented on #159
Thanks!

On Mon, Dec 7, 2015 at 4:23 AM, Jaime Huerta-Cepas <notifications@github.com

[2015-12-10 23:24] matsen commented on #101
This worked great for me. Thanks, @JohnReid !

[2015-12-11 05:24] ofanoyi opened #160 "PyUnicodeUCS2_AsASCIIString"
After I followed "No sudo permission?" installation, I got the error message when I run ete3 build check.

ImportError: /lib/python2.7/site-packages/numpy/core/multiarray.so: undefined symbol: PyUnicodeUCS2_AsASCIIString

And the python of Anaconda in my system was built on UCS4.

Thanks for the help.

[2015-12-11 06:26] #160 closed

[2015-12-11 16:54] jhcepas opened #161 "Plot Horizontal Gene Transfer Events"
or any other node-node connection.

What about:
[code]
![snapshot1](https://cloud.githubusercontent.com/assets/163658/11749791/04d9105a-a030-11e5-875c-9077256103bd.png)
To produce something like
![ideahgt](https://cloud.githubusercontent.com/assets/163658/11749785/fbf62478-a02f-11e5-85f4-01984dc990f6.png)

[2015-12-14 02:02] cancerconnector opened #162 "Building trees with integer names using add_child"
Hi - Thanks for developing this package. I'm working on some synthetic data that is the output of a cellular automaton model of mine. I am recording mutation events in my model by pairs of (parent,child) where each member of the pair is a number.

add_child does not like me trying to use numbers, e.g.

11        = 10.add_child(name="11")
^^            ^^
child     parent

I could change them to be

[2015-12-14 08:51] jhcepas commented on #162
@cancerconnector, you can not use plain numbers as variable names in python.
[code]

[2015-12-14 08:51] #162 closed

[2015-12-17 23:47] andrew-niaid opened #163 ""import .. as ete" in test_circle_label.py causes a syntax error"
"import .. as ete" in test_circle_label.py causes a syntax error with Python 2.7.5 on CentOS 7

[andrew@localhost test]$ ./test_circle_label.py
  File "./test_circle_label.py", line 8
    import .. as ete
           ^
SyntaxError: invalid syntax

[2015-12-18 08:31] jhcepas commented on #163
is that your own example file?
```import ete3``` should be used..

[2015-12-18 08:31] #163 closed

[2015-12-18 16:00] andrew-niaid commented on #163
No, it's in the ete3/test/ folder in the github repo:

https://github.com/jhcepas/ete/blob/master/ete3/test/test_circle_label.py , line # 8.

The syntax error was introduced on Sept. 24th in the commit titled "switched to relative imports" (commit 9f4d0b39b410421bdddc94bfb3158b797fc742ea).

[2015-12-19 08:53] jhcepas commented on #163
thanks, should be solved now. However,  tests use relative imports, so you
need to run them as
python -m 'ete3.test.test_circle_label'

On 18 December 2015 at 17:00, Andrew Neuschwander <notifications@github.com>
wrote:

[2015-12-22 01:45] cancerconnector commented on #162
ok, thanks.

[2015-12-27 03:56] cancerconnector commented on #162
Hi again -

I rethought what you said and have recast the variables as strings with the letter 'r' in front of the integer as before.

So, now I have a file that contains lists of mutation events that lists (parent, child) events. I want to make a for loop to build the tree, like:

for row in range(0, len(firsttwo)):
	a = str(firsttwo[row,1])
	b = str(firsttwo[row,0])
	a = b.add_child(name = a)

a

[2015-12-27 03:57] cancerconnector commented on #162
sorry, here firsttwo is a numpy array of strings that list (parent,child)

[2016-01-08 09:46] jhcepas opened #165 "inspect problem for some ncbiquery searches"
$ ete3 ncbiquery --search 645465
Traceback (most recent call last):
  File "/usr/local/bin/ete3", line 9, in <module>
    load_entry_point('ete3==3.0.0b17', 'console_scripts', 'ete3')()
  File "/usr/local/lib/python2.7/dist-packages/ete3/tools/ete.py", line 92, in main
    _main(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages/ete3/tools/ete.py", line 232, in _main
    args.func(args)
  Fi

[2016-01-08 14:02] a1an77 commented on #111
Hi, any news on this one? regarding introduced problems I am using it since then and noticed to issues in parsing. Regarding performances, do you have any test datasets I can run it on to help you with the evaluation? Anyway, I can only use my version even if it turns out to be slower since it is the only one working with that input data but I would like to have it merged so there would be no need

[2016-01-11 12:56] jhcepas opened #166 "add options to ProfileFace"
from the mailing list:

Hi Liis,
ProfileFace is bound to the node.profile attribute, so it cannot be used as you want unless I change its source code.
However, it does not look very difficult and it makes total sense that this is an option for the face rather than a hardcoded decision.
We will look into in asap.
cheers,
-jaime

On 28 December 2015 at 16:12, Liis Kolberg <liis.kolberg@gmail.com> wr

[2016-01-11 13:03] jhcepas commented on #111
Hi Alan, I haven't had the time yet. But it should definitively go in!
I promise you I'll look at it asap

[2016-01-12 23:59] tanaes commented on #161
This would be great! There are really limited options out there currently for visualizing these events. We were talking with @ekopylova about this recently.

I think this would also play will with issue #112, if transfer events can be represented as coming from/going to nodes as well as tips -- quick way to check that events weren't inferred as going backwards in time.

Because trees with lots of

[2016-01-13 00:00] ekopylova commented on #161
Agree, this would be great!

[2016-01-17 08:41] jhcepas commented on #127
For the records: prebuilt binaries are now available through anaconda. ETE and all external tools can be installed at once. http://etetoolkit.org/download/#macosx

ps. Dialign-tx is supported is OS X

[2016-01-18 17:30] cclarkson opened #167 "Branch width causes scaling issues"
When visualising with large (1530 taxa) circular/semi-circular trees, increasing branch width e.g.

tree.img_style['vt_line_width'] = 4;  tree.img_style['hz_line_width'] = 4

appears to increase the size of the whole tree rather than the branch thickness.

(discussed via email but added as issue in case any one else has comes across the same problem)

[2016-01-19 15:10] evolgenomology opened #169 "ete3 compare xrange to range"
Hi guys,

trying the ete3 compare module I got the following error:
/usr/local/bin/ete3 compare -t RAxML_bestTree.Pana_OMCL705.fasta.co -r RAxML_bestTree.Pana_OMCL7035.fasta.co --unrooted
source                    | ref                       | eff.size | nRF      | RF       | maxRF    | %src_br+ | %ref_br+ | subtrees | treekoD
========================+ | ========================+ | =======+ | ====

[2016-01-19 15:13] evolgenomology commented on #169
Sorry, of course more meaningful to use one of your examples. After the xrange -> range fix:
ete3 compare -t '((A,B), ((C,D),E));' '((E,(C,D)), (B,A));' '((A,B,X), (Z,((C,D),E)));'  -r '((A, B), ((C, D),E));'
source                    | ref                       | eff.size | nRF      | RF       | maxRF    | %src_br+ | %ref_br+ | subtrees | treekoD
========================+ | ======================

[2016-01-19 15:20] jhcepas commented on #169
it is useful, Philipp. Thanks for reporting it.
it seems to be a silly incompatibility issue with Python 3.4. Easy to fix,
I will compile a new release with the fix today

On 19 January 2016 at 16:13, Philipp Schiffer <notifications@github.com>
wrote:

[2016-01-20 09:36] #169 closed

[2016-01-20 09:38] jhcepas commented on #167
thanks @cclarkson , this a difficult issue to solve, but we are on it...

[2016-01-20 13:02] jhcepas commented on #169
should be fixed in the new version I have just released

On 19 January 2016 at 16:19, Jaime Huerta Cepas <jhcepas@gmail.com> wrote:

[2016-01-20 13:04] evolgenomology commented on #169
Thanks a lot Jaime!

Btw. if I have analysis specific questions, the kind of "I want to
compare this and this (in ete3 compare), how do I best do it" would you
also be the person to addess?

Cheers

Philipp

--
Sent from Postbox
<https://www.postbox-inc.com/?utm_source=email&utm_medium=siglink&utm_campaign=reach>

[2016-01-20 13:14] jhcepas commented on #169
sure, but do it better through the google group mailing list(
https://groups.google.com/forum/#!forum/etetoolkit), so the question is
tracked for future users :)

On 20 January 2016 at 14:04, Philipp Schiffer <notifications@github.com>
wrote:

[2016-02-01 12:06] Unode opened #173 "ncbiquery fuzzy support not compiled when installed via pip install"
When installing ete3 with pip, the sqlite extension required for fuzzy matching (Levenshtein module) is not compiled causing code to fail.

If this is by design (sqlite-dev not a dependency), perhaps a more graceful error message could be added. It would be useful to instruct the user on what needs to be done if the code fails to find the required library.
Alternatively, the code could try to comp

[2016-02-01 15:46] jhcepas commented on #173
thanks @unode, we kept this feature uncompiled on purpose, to make the whole package more portable...and because almost nobody requested the feature. But now that the anaconda ete3 package is ready, we could think of distributing with this module enabled...

[2016-02-02 14:52] Unode opened #174 "Use tornado for webplugin live demo"
The current documentation instruction set includes setting up an apache instance with mod_wsgi. This is technically non-trivial as several parts need to be brought together.

If someone just wants to give it a try, a simple out-of-the-box solution would be to use [tornado](http://www.tornadoweb.org/en/stable/wsgi.html) to setup a local HTTP server. Perhaps not recommended for production but good e

[2016-02-05 01:42] romainbm opened #177 "pass already aligned sequences"
Hi there,

It would be great if we could skip the alignment step in the workflow by setting it to "none".
So that we can pass already aligned (and manually curated) sequences.

originally posted at:
https://groups.google.com/forum/#!topic/etetoolkit/PAemATD6-6s

Thanks a lot for this great tool!

Romain

[2016-02-05 07:11] jhcepas commented on #177
thanks.
already in the main branch (cc47f2487e40f7408c78b3b666968c6b9d9adf42).
We are testing it and will come live in the next update

[2016-02-12 06:21] jhcepas commented on #177
feature available as for v3.0.0b30

[2016-02-12 06:21] #177 closed

[2016-02-14 13:37] #63 closed

[2016-02-14 13:39] #8 closed

[2016-02-23 21:12] jhcepas opened #185 ""show newick" in interactive tree browser does not work"
reported at the mailing list:

[2016-02-24 02:19] dmyersturnbull opened #186 "Show branch name"
For leaves, there's `TreeNode.show_leaf_name`. However, there doesn't seem to be a way to show branch names, which may be important (and is essential in my case). If this is possible, perhaps it should be documented more prominently.

[2016-03-01 20:08] maclandrol commented on #186
I think you can use TextFace to add any feature you want to branches.

[2016-03-09 15:59] dkagrawal commented on #165
Hi,I would like to work on this issue.Can you please explain the issue more explicitly?

[2016-03-09 18:46] jhcepas commented on #165
thank @dkagrawal .
I think this is a problem very easy to fix.  It only fails when the taxid requested is a tip node in the overall tree. It does not occur when adding  --info to the command.

You can check why "t" is a list in file "ete3/tools/ete_ncbiquery.py", line 158. It should be a Tree node instead.

[2016-03-09 20:38] dkagrawal commented on #165
So,should we just replace get_descendant_taxa method by get_topology method for t in line 150 ?

[2016-03-10 09:38] dkagrawal opened #191 "Tip Node raises error in get_topology method"
[code]

[2016-03-10 09:49] jhcepas commented on #191
right. If the taxid has been validated as correct, this exception could be used to detect tip nodes and skip the subtree extraction process

[2016-03-10 13:17] #185 closed

[2016-03-10 13:19] jhcepas commented on #191
This is in fact duplicate of #165

[2016-03-10 13:19] #191 closed

[2016-03-10 13:23] jhcepas commented on #165
No really, get_topology should in principle also work for tip nodes, returning a "single-node annotated tree".
THe problem should be addressed in this get_topology function:
https://github.com/etetoolkit/ete/blob/master/ete3/ncbi_taxonomy/ncbiquery.py#L357

[2016-03-10 13:42] dkagrawal commented on #165
Hi @jhcepas ,created a pull request #192 .Please review it.

[2016-03-10 14:15] #165 closed

[2016-03-10 14:31] dkagrawal commented on #47
Hey @jhcepas !
Are you still working on this? It would be great if you could elaborate the issue little bit more. I would like to work on this. Thanks.

[2016-03-10 18:12] jhcepas commented on #47
Hi @dkagrawal , not very active, but still an interesting issue...
It requires understanding the biology behind the rooting strategies of phylogenetic gene trees, so it might be difficult to address without the proper background

[2016-03-10 22:43] dkagrawal commented on #92
Hi @jhcepas ,can you provide a bit description on the issue here?
For the seqmotif class in "treeview/faces.py",the width is set on line 1746 as-
[code]
What is wrong with this value for width?

[2016-03-10 22:47] jhcepas commented on #92
this is a difficult one: ETE rendering engine avoids overlap between faces. For this the dimensions of each face are calculated and taken into account when calculating their position in the scene. However, the border width is not taken into account in this calculations, so a face with a a large border line could overlap with other faces.

[2016-03-11 15:15] Unode opened #193 "FTP downloading fails when behind a proxy"
We had a user reporting:

    from ete3 import NCBITaxa
    ncbi = NCBITaxa()

    IOError: [Errno ftp error] proxy support for ftp protocol currently not implemented

I bumped into a similar issue reported on [StackOverflow](http://stackoverflow.com/a/33391005) where a fix was also proposed.

[2016-03-12 06:35] dkagrawal commented on #193
Hi @Unode,
I had a similar issue a while ago. I added `ftp_proxy` variable to my `/etc/environment` file, after which there was no issue. So, I guess you need to set your ftp proxy for it. Worked for me.

[2016-03-12 19:29] Unode commented on #193
@dkagrawal Thanks for the info.
I'll have to put that on a test to confirm that it works as expected.

[2016-03-13 23:03] mortonjt opened #194 "Newick formatting error"
Relevant to #137

I'm trying to visualize some trees from scikit-bio.  Below is the newick string representation of a scikit-bio `TreeNode` object.

[code]

Now when I try to load this into the ete3 `Tree` object, I get the following error

[code]

[code]

Now, I'm going to be honest, I'm not entirely where the error is coming from. Does this look like a bad string?  Thanks!

Note: I was able to u

[2016-03-14 20:37] mortonjt commented on #194
Also, I was able to get this conversion to work when I substituted all of the names with integers.  Possible that it doesn't work with strings?

[2016-03-16 15:06] tseemann opened #195 "ImportError: cannot import name 'TextFace'"
Install works, but command line tool fails?

[code]

[code]

[2016-03-16 15:55] jhcepas commented on #195
Thanks @tseemann
the command line tools assume you have all dependencies installed (numpy, pyqt4, lxml, six). ete-build will also require compiling external tools. That's why we recommend the conda-based installation, which handles all automatically.

But yes, we can probably make this error more informative, or even allow some tools to work even with optional dependencies are not used.

[2016-03-16 16:03] jhcepas commented on #194
there are two things happening: 1) as your newick string contains node names instead of branch support values, you should load the tree with `Tree(tree_string, format=1)`, and 2) Quoted node names are not supported yet, meaning that you cannot use reserved newick characters in names. For instance, `'o__Bacillales; f__Planococcaceae` should be replaced with `'o__Bacillales f__Planococcaceae`

In yo

[2016-03-18 16:04] coffin22 opened #197 "floats in features"
There's a somewhat dangerous bug when using ete3 features with floats:
[code]
This returns -9.

[2016-03-18 16:11] jhcepas commented on #197
thanks, It's not a bug, ^ is a bitwise operation in python.
I guess you meant 10**-3?

[2016-03-18 16:11] #197 closed

[2016-03-21 22:49] StanQiu opened #198 "Availability of runmode = -3 in codeml? [bayesian estimate of w]"
Is it possible to integrate run mode = -3 in ete? This is corresponding to bayesian estimation of dn/ds in yang's paper. http://abacus.gene.ucl.ac.uk/software/pamlDOC.pdf (page 34) and according to Yang, it's more robust and reduce extreme dn/ds. "Bayesian Estimation of Nonsynonymous/Synonymous Rate Ratios for Pairwise Sequence Comparisons"

[2016-03-22 12:51] fransua commented on #198
Hi @StanQiu ,
a priori any option can be passed to the ete3 evol tool. In your case you could try:

    ete3 evol --codeml_param runmode,-3 ...

note that this option will be applied to all the models to be run.

Note that I am assuming you are using the command line tool, in case I am wrong you can set the same parameter through the run_model function (http://etetoolkit.org/docs/latest/reference/

[2016-03-22 13:07] StanQiu commented on #198
Hi @fransua,

Thanks for replying. I tried but failed...and it says something wrong with the codeml_parser. I checked the code of ete3 and it seems the codeml parser is designed for run mode = -2 (ML)
`Running CodeML/Slr (0 CPUs)
  - processing model M0
lnL =-1354.183487
test/M0/out
Traceback (most recent call last):
  File "/seqdata/krogh/cse/bitao/bin/anaconda_ete/bin/ete3", line 9, in <module>

[2016-03-22 13:27] fransua commented on #198
Ok, I see. Yes, the module is not prepared for this feature.
We will have to think about it (what to keep and display), even if it's recommended for paiwise dn/ds, the feature and the results of the runmode=-3 are interesting.
thanks

[2016-03-25 19:13] marco-mariotti opened #199 "aligned SequenceFace wrong positioning"
It appears that, on the first visualization only, something fails in the positioning of this SequenceFace. The faces in the columns after the column of the SequenceFace are drawn with the same x as the SequenceFace, as if the initial width computed for the SequenceFace is 0. At any second draw (for example pushing the "<-> x " button), this is fixed.

Code to test this:
`from ete3 import *; tree=T

[2016-03-25 19:23] marco-mariotti opened #200 "tolerate empty columns (feature request)"
When you add aligned faces, if you skip  one column index  (e.g., you add to column_index 1 and 3), the program crashes with a bad looking error message. Test code and error:
`from ete3 import *; tree=Tree(); tree.populate(5); [ [n.add_face(  faces.TextFace('first'), 1, 'aligned'  ),   n.add_face(  faces.TextFace('second'), 2, 'aligned'  ), n.add_face(  faces.TextFace('third'), 4, 'aligned'  ), n.

[2016-03-25 19:27] marco-mariotti opened #201 "faces in title/legend aligned to those in tree (feature request)"
Often I need to add some sort of title to my columns of aligned faces, but I did not find any way to add these to these face containers -- which would seem appropriate.
The face containers do not accept the position argument.

[2016-03-25 19:41] marco-mariotti opened #202 "Add custom actions to items (feature request)"
It appears that all the gui_code is deep in a module structure, with no possibility to change things (except by basically branching the ete3 code to my own repository).
A very useful feature is to be able to add actions to the drop-down menu that appears on the right click at any node.  Typically if you subclass the Tree class you want to be able to do this kind of things.
Since I had to do this f

[2016-03-25 19:46] marco-mariotti opened #203 "color picker not working"
Since I updated from ete2 to ete3, the colorpicker feature does not work anymore.
While in the interactive mode, click on a node, and inspect the node attributes on the right. When you click a color attribute (e.g. bgcolor), a nice color picker appears. When you click select a color and click Ok, strangely the attribute is set to an empty string instead of the selected color -- resulting invariabl

[2016-03-28 15:30] gregcaporaso commented on #101
@jhcepas, could you describe how you would do that check? I'm building some plots as part of IAB, and when I execute my tests via TravisCI they fail due to the missing xserver. I'd like to just check and skip rendering the plots if the xserver isn't available.

Thanks!

[2016-03-28 16:26] gregcaporaso opened #204 "conditional rendering of trees isn't possible in IPython Notebooks?"
I'm running into a weird issue, and I'm not convinced yet that it's not me. Related to my comment on #101 , I'm trying to conditionally render a Tree. When I call ``Tree.render`` directly, it works fine, but if I embed that in a conditional statement nothing is rendered. This screenshot illustrates the issue. Is there a work-around for this? And apologies if I'm doing something wrong that I'm just

[2016-03-28 19:01] gregcaporaso commented on #204
After a little more investigation I found that this isn't ete-specific, so I'll close this. I think it's an IPython Notebook thing that I'm not understanding.

[2016-03-28 19:01] #204 closed

[2016-03-28 19:25] gregcaporaso commented on #101
I got this working in my TravisCI build by starting the xserver there (thanks for the tip @jairideout!). [Here](https://github.com/gregcaporaso/An-Introduction-To-Applied-Bioinformatics/blob/master/.travis.yml#L8)'s how I'm doing that, in case it's useful for others.

[2016-03-29 09:34] jhcepas commented on #101
@gregcaporaso , we use xvfb also under TravisCI
https://github.com/etetoolkit/ete/blob/a734959f8ed5667c0cfb1713c9a2cd321ae0eb05/.travis.yml#L36

[2016-03-31 06:34] jhcepas commented on #201
Did you try the aligned_header/footer face container in TreeStyle objects?

[2016-03-31 15:26] #201 closed

[2016-04-01 23:01] tseemann commented on #195
Thanks @jhcepas - i understand now. I'll checkout conda/bioconda

[2016-04-04 08:02] jhcepas opened #205 "compare function crashes in terminal nodes with species-specific duplications"
la funcion compare en ete3 y funciona bien si el arbol no tiene duplicaciones o tiene duplicaciones normales, pero casca cuando tiene duplicaciones especificas para una especie.

[2016-04-07 17:30] Unode opened #206 "ete 3.0.0b35 - ete3/clustering/stats.py is not python3 compatible"
Just tried to use ete 3.0.0b35 via anaconda on python3.
I didn't have scipy on my environment and things failed.
scipy didn't get pulled as a dependency of ete3

    % conda install --channel https://conda.anaconda.org/etetoolkit ete3
    Using Anaconda Cloud api site https://api.anaconda.org
    Fetching package metadata: ......
    Solving package specifications: .........

    Package plan for

[2016-04-11 21:37] gabuali opened #207 "two questions - "Unexpected newick format" and running ete3 evol for codeml/slr analysis"
Hi all,

I also posted this on the google groups as I'm not sure if this is a bug or a usage issue.

- When trying to visualize a raxml inferred phylogeny (with branch lengths and boostrap support values as branch labels), ete3 gives the following error when:

[code]
I suspect that ete does not parse well this newick format with confidence values in [ ], at least I'm not finding an example of it h

[2016-04-12 09:00] jhcepas commented on #207
Thanks @gabuali
I just answered your post in the mailing list. Feel free to open a new issue if the second problem is finally confirmed as a bug.

[2016-04-12 09:00] #207 closed

[2016-04-14 05:55] dkagrawal commented on #205
Hi @jhcepas ,
When I tried to run the `compare` function for trees with duplication in `name` attribute, an __AttributeError__ was raised. This happens because the source_tree does not have any get_speciation_trees() method.
[code]
So, Can you explain this issue more elaborately?

[2016-04-19 09:03] jhcepas commented on #205
Hi @dkagrawal ,
get_speciation_trees is a method present only in PhyloTree instances. This issue was reported by email and it is related to the tool ete-compare. The problem is that the comparison crashes when species-specific duplications are present in one of the trees

[2016-04-20 14:47] dkagrawal commented on #205
But, the `ete-compare` calls the `robinson_foulds` which raises __TreeError__ in case of duplication in either source or reference tree.
[code]

 So, can the `robinson_foulds` work in case of species duplication?

[2016-04-21 22:26] marco-mariotti commented on #199
Hi, I just discovered one more symptom about this. On the first drawing, if you request the sequence face boundingRect(), you will see that it has, for some reason, width=0.0

#main_item is    a  n2i[node] <br>
for index, item in enumerate(main_item.mapped_items):
---  if not hasattr(item, 'column2faces'):     print item.boundingRect()    # --> this is zero for sequence face only, and only at firs

[2016-04-26 18:53] Unode opened #208 "Code quality control"
We are integrating with quantifiedcode.com for their code analysis platform.

[![Code Issues](https://www.quantifiedcode.com/api/v1/project/9c38b337a65840849bc6a7e77293471c/badge.svg)](https://www.quantifiedcode.com/app/project/9c38b337a65840849bc6a7e77293471c)

The list is currently quite large but not everything is relevant.
This issue will serve to track any progress or effort done to clean up

[2016-05-01 04:32] kdmurray91 opened #210 "interoperablity request: scipy.cluster.hierarchy"
Hi all,

Forgive me if this is already possible, but I have not found any mention of it so far in the docs or source.

[`scipy.cluster.heirarchy`](http://docs.scipy.org/doc/scipy/reference/cluster.hierarchy.html) defines a tree type for hclust results. Easily importing such trees to do tree manipulation and statistics in ete would be a huge bonus, especially with your `ClusterNode` type's addition

[2016-05-01 06:03] kdmurray91 commented on #210
Since this can be done in `skbio`, and `skbio.TreeNode` can be converted to an ete Tree, this is a little redundant. I'll leave it to the maintainers to close the issue if they agree

[2016-05-02 08:10] jhcepas commented on #210
@kdmurray91 thanks. It would make a lot of sense to have a function to load scipy hierarchical cluster objects. I used hcluster in the past. perhaps similar to scipy implementation?
http://stackoverflow.com/a/17657426

[2016-05-02 08:38] jhcepas commented on #111
https://github.com/etetoolkit/ete/pull/211

[2016-05-02 12:27] dkagrawal commented on #210
Hi @jhcepas ,
do i need to add `skbio` as a optional dependency for this feature?

[2016-05-02 12:31] jhcepas commented on #210
@dkagrawal, if you want like to work on adding this feature you should write something like the skbio interoperability function: Check this: https://github.com/etetoolkit/ete/commit/b3d4c15c81615ce09d0070a2e33d3147358b7270#diff-43280be738bffc90096516a21fc5fe7bR2394

skbio should not be a dependency. The function could import skbio only when called

[2016-05-04 10:35] dkagrawal commented on #210
Yeah @jhcepas , I also meant the same. So, do i take `scipy.cluster.hierarchy.ClusterNode` as input parameter and return ete's `ClusterNode` object?

[2016-05-09 16:47] AlishaMechtley opened #212 "Should only catch relevant exceptions (i.e., ImportError) when importing new_version"
https://github.com/etetoolkit/ete/blob/master/ete3/treeview/qt4_gui.py#L61-L64

[2016-05-09 18:16] jhcepas commented on #212
@AlishaMechtley: _ph is a version checker with a little easter egg. I did not want any problem there (i.e. broken URLs) to interfere with the real functionality. I would keep it like this.

[2016-05-09 18:16] #212 closed

[2016-05-09 18:43] AlishaMechtley commented on #212
When you import something, the function is not executed (therefore broken URLs will not be caught here, ever). The only things that could go wrong are things in the header of that import file _ph (the part at the top of the file that says "from blank import blank" gets executed).

[2016-05-10 06:25] jhcepas commented on #212
right. If there is no real risk of exceptions, we could even remote the try/except

[2016-05-10 06:28] jhcepas commented on #210
@dkagrawal, yes. But I think it would be better to return a plain Tree instance

[2016-05-11 14:43] PabloPsicotico opened #213 "Error in command ete3-ncbiquery with the --fuzzy option"
Hi all,

I tray to use the --fuzzy option for ete3-ncbiquery command in this way:

`ete3 ncbiquery --search 'BFriend murine leukemia virus' --fuzzy 29 --info`

But I get the following error:

[code]

If I use the same command with a different name, for example `ete3 ncbiquery --search 'Tetrahymena pyriformis' --fuzzy 29 --info`, works fine.

I work with Ubuntu 16.04 and I installed SQLite-Levensht

[2016-05-11 16:15] Unode commented on #173
If anyone bumps into this error as is lost, the solution is to navigate to the folder `.../ete3/ncbi_taxonomy/SQLite-Levenshtein/` and run `make`.

If no error appears (i.e. if all necessary dependencies are installed) it should create the necessary library and the code should no longer complain.

[2016-05-11 16:16] Unode commented on #213
Hi Pablo,

This is a duplicate of #173 . The other issue includes some instructions.
Feel free to comment there.

[2016-05-12 08:13] jhcepas commented on #193
From the mailing list:
dodup64@gmail.com via googlegroups.com
02:46 (7 hours ago)
[code]

[2016-05-18 10:00] koalive commented on #193
Hi everyone !
I have similar problem when running "ete3 upgrade-external-tools" behind a proxy, also in python 2.7.
I get the following message : "IOError: [Errno socket error] EOF occurred in violation of protocol (_ssl.c:590)".
I checked and 'ftp_proxy' is already there in my '/etc/environment' file. Any idea of a workaround ?
Thanks in advance !

[2016-05-18 22:52] Unode commented on #193
Hi @koalive I'm not sure if that is the same problem. External tools are provided via `HTTP` and `HTTPS` not `FTP` so `ftp_proxy` should not affect this.

I can reproduce the same error if I use a local proxy that doesn't support `HTTPS` properly and closes the connection after a few seconds.

As a workaround download `https://github.com/jhcepas/ext_apps/archive/latest.tar.gz` to whatever location

[2016-05-19 08:13] koalive commented on #193
Thanks a lot @Unode ! Compiling from the file you linked works fine. I just don't get dialigntx and slr to compile but it is probably a different problem, and I can use the ete features I want anyway.
Just for information, `http_proxy` and `https_proxy` were also correctly configured in my `etc/environment` file, but I cannot say much about the proxy configuration in itself. Some other users at wo

[2016-05-19 08:18] jhcepas commented on #193
@koalive, did you try conda installation? all precompiled binaries including Slr should be there

[2016-05-19 14:40] #193 closed

[2016-05-20 19:53] ConstantinoSchillebeeckx opened #218 "PhyloTree node style not rendering"
Following the example in the documentation found [here](http://etetoolkit.org/docs/latest/tutorial/tutorial_drawing.html#node-style), but with a PhyloTree object instead of a Tree:

[code]
Generates the following (notice the nodes are not darkred spheres & leaf names are rendered twice)
![moo](https://cloud.githubusercontent.com/assets/8518288/15440276/3f0b2e5a-1e9a-11e6-8f5b-4adb53bccb61.png)

[2016-05-23 07:52] jhcepas commented on #218
you are right. This is a problem with the automatic layout function assignment in PhyloTree objects. A possible workaround while this is being fixed:

[code]

[2016-05-23 17:40] argriffing opened #219 "show internal node names?"
The tutorial shows how to show internal node images http://etetoolkit.org/docs/latest/tutorial/tutorial_drawing.html, and there is a "show_internal" option for ascii art, but I don't see how to show internal node names in graphical (non-ascii) figures. There are options for reading and writing newick files that include internal node names.

**Edit**: I'm working around this by using

[code]

inspi

[2016-05-23 22:21] jhcepas commented on #219
@argriffing, your code looks ok to me. What type of problems did you find?

For instance:
[code]

![image](https://cloud.githubusercontent.com/assets/163658/15486361/551c20de-2145-11e6-9115-489110a300b9.png)

[2016-05-23 22:22] #213 closed

[2016-05-23 22:24] jhcepas commented on #186
There is an example in #219

[2016-05-23 22:24] #186 closed

[2016-05-23 22:42] argriffing commented on #219
@jhcepas Yes the workaround is OK for me, thanks for the quick response! I'm completely new to ete3 (although not new to Python) and I didn't know if this was a reasonable way to proceed.

One issue could be that providing a custom layout clobbers some useful default features? For example I had to write additional duplicate code inside that layout function when I wanted to visualize a nucleotide a

[2016-05-24 08:08] jhcepas commented on #219
Yes, that's the correct way. Some shortcuts are provided through TreeStyle flags, but the API is meant for customisation. You could easily add sequence images to nodes like this:
1) Link alignment to tree:
http://etetoolkit.org/docs/latest/tutorial/tutorial_phylogeny.html#linking-phylogenetic-trees-with-multiple-sequence-alignments

2) Once this is done, add SeqMotifFace elements to terminal nodes

[2016-05-26 14:54] mossmatters opened #220 "convert_to_ultrametric() does not account for NodeFaces"
I am trying to plot a "cladogram" style tree figure (branch lengths are meaningless) in order to show support for each node as a pie chart. I [have seen elsewhere](https://www.biostars.org/p/172568/) that the best way to do this in ETE3 is to convert the tree to ultrametric. This works fine as long as there are no NodeFaces for ETE3 to plot. In the example below, the branch lengths are not adjuste

[2016-05-27 15:02] jhcepas commented on #220
@mossmatters - the scale is applied to all branches, so it cannot correct the arbitrary offset create by branch-right branches in different parts of the tree.
A possible workaround would be to add tip names as TextFaces in 'aligned' position.
TreeStyle allows to draw guiding lines from the end of tip branches to the aligned faces, and if the guiding line style is adjusted to be the same as in tree

[2016-06-01 13:39] thackl opened #222 "ncbiquery --rank_limit and unclassified/uncultered/environmental samples"
I am trying to generate a simple tree comprising all phyla of eubacteria (taxid: 2) using the following command:

`ete3 ncbiquery --search 2 --tree --rank_limit phylum`

The resulting tree does comprise the phyla, however, it also comprises tons of uncultured bacteria species and unclassified or environmental samples, with either 'species' rank or 'no rank'. The problem seems to be that the lineag

[2016-06-02 06:56] jhcepas commented on #222
hi @thackl - you are right. The way it works is by traversing the whole tree and stopping when a node with the rank 'phylum' is found.  this assumes all nodes have a rank label assigned.

As you say, a workaround would be to remove lineages without the rank specify. You can do this with the API, or this simple command line:
[code]

you can use ```tree.write(features=[])``` instead of ```print tree

[2016-06-03 21:06] thackl commented on #222
Thanks @jhcepas, exactly what I was looking for.

[2016-06-03 21:06] #222 closed

[2016-06-08 14:30] mgalardini commented on #101
Hi,

just wanted to state my support to find an alternate renderer that doesn't rely on an X server; I would have problems to run xvfb on our cluster, so something that is less of a workaround would be preferable.

Thanks for the great work.
Marco

[2016-06-10 13:03] jhcepas opened #223 "pre-calculate NCBI clade sizes for very fast lookups"
this feature was requested by email and I think the attached code would made the job. if this is working well, it should be integrated into the ncbi taxonomy module

[code]

[2016-06-17 15:33] argriffing opened #226 "can a tree+alignment figure include internal node sequences?"
I tried modifying the example in https://github.com/etetoolkit/ete/issues/219#issuecomment-221196256 as follows, but I was not able to make ete3 show the sequences corresponding to internal nodes.

Of course in the traditional phylogenetics setting you do not have access to ancestral sequence data, but it could still be useful to visualize imputed or conditionally sampled ancestral states.

[code]

[2016-06-22 18:25] jhcepas commented on #226
aligned faces are only allowed for tip nodes. You could still add SeqMotifFaces to branches in internal nodes, but it will probably look awkward with large sequences.
Check this example: https://gist.github.com/jhcepas/868b1057d9c0b72a57b809a67ad6e4cc

[2016-06-23 14:39] argriffing commented on #226
Thank you!

[2016-06-23 14:39] #226 closed

[2016-06-29 08:01] #206 closed

[2016-06-29 08:06] #220 closed

[2016-07-01 08:57] jhcepas opened #231 "iqtree alignment hash id seems is not unique [ete-build]"

[2016-07-11 14:48] mingtop opened #232 "t.show() not show on my screen"
t.show()  just like a flash on my screen,  and no python windows show and stay.
I don't know why.  When I using the
t.render()  the output is right.

[code]

[2016-07-24 13:14] p-himik opened #233 ""KeyError: Tree node" when using TreeFace in custom layout function"
Following [Trees within trees example](http://etetoolkit.org/docs/latest/tutorial/tutorial_drawing.html?highlight=treeface#trees-within-trees) causes `KeyError: Tree node '%node_name%'` when hovering with the mouse pointer over a node. I guess the trees used for TreeFace's are not added to the correct containers, and the fix should look something like #187 does in qt4_render.py.

[2016-07-26 19:23] jhcepas commented on #233
thank @p-himik - you are right. Tree instances within trees are not recognised for mouse events. It would be a complicated fix though...

[2016-07-26 19:25] p-himik commented on #233
I didn't dig through the code that much - is there something particular that prevents the code from #187 being reused to fix this?

[2016-07-26 19:31] jhcepas commented on #233
#187 goes in a different direction: Creating tree layouts rather than supporting trees as TreeFaces.
I am not sure if @maclandrol branch would actually allow keeping nodes interactive in the same scene. It is also a proof of concept, it would still require a little bit of work for integration in the API.
did you try @maclandrol branch?

[2016-07-26 19:33] p-himik commented on #233
I didn't try it, but I plan to. Maybe I'll even come up with a fix for this one along the way.

[2016-07-26 19:38] jhcepas commented on #233
that would be great. We are currently focused on different branches, but we welcome contribs. Just keep in touch if you start building/fixing a new feature, so we can agree on the best mode of implementing it. thanks

[2016-07-26 19:43] marco-mariotti commented on #233
Hi Jaime,
in my fork of ete I made events on faces more flexible; this allows to
easily fix the problem (I actually started this because of problems with
TreeFace).
https://github.com/marco-mariotti/ete

In this fork, faces have the attribute .actions, which defines custom pyqt4
events, such as mouse events.
(This is read within the qt4_face_render module).
You can modify its value at the level of

[2016-07-26 19:47] jhcepas commented on #233
@marco-mariotti Cool! so work accumulates for me :)
I understood well, this would disable actions in the nodes from TreeFaces? Or would also enable actions in those nodes?

[2016-07-26 20:04] jhcepas commented on #232
@mingtop cannot reproduce this problem. What's your OS, python version and general system?

[2016-07-26 21:32] maclandrol commented on #233
@p-himik @jhcepas I had encountered this bug before. There is a quick fix for that (although I'm not sure if it's suitable for the API)

[code]

Then all you have to do is call that function on each node before the return in [``render``  (see line 365,  qt4_render.py)](https://github.com/etetoolkit/ete/blob/master/ete3/treeview/qt4_render.py#L365)

[code]

I can make a commit later if you want.

[2016-07-27 21:05] marco-mariotti commented on #233
Hi Jaime,
I wasn't very clear so let me start over. In my ete fork there's a new
.actions attribute. This can be given at the level of *nodes*, and/or at
the level of *faces*.

For faces:
 - if .actions is not found (=> None value), then the face inherits the
actions of the node to which it belongs. This is the present behavior in
the main ete3 trunk (although it fails for some face types, which d

[2016-08-10 14:02] jhcepas opened #234 "anligned scale in rotated BarChartFace"
see this:
https://github.com/biocore/gneiss/pull/35#issuecomment-238651987

[2016-08-23 05:46] Tong-Chen opened #235 "Model PROTGAMMAJTTIF does not exist"
Hi, can anyone help, thanks!

When running `ete3 build -w mafft_einsi-trimal_auto-pmodeltest_full_slow-raxml_default_bootstrap -a Cui.diTPS.prot.fa -o custom_raxmltree_aa --custom-config customized.cfg --clearall` an error occured at `raxml` step.  Changing `raxml` to `phyml` will not cause this problem. Is it an internal conflict?

[code]
Raxml command
[code]

Best,

Tong

[2016-08-23 08:29] kwongj opened #236 "scientific notation bug?"
I'm having issues trying to parse a newick tree (output from BEAST) that contains scientific notation, that is apparently supported. However, some values include the scientific notation `E0` i.e. `x 10^0` e.g. `A:1.2345E0` which seems to mess things up.

For example:
`t = Tree("(A:1E0,(B:1E0,(E:1E0,D:1E0):0.5E0):0.5E0);")`
does not seem to work.

However:
`t = Tree("(A:1E-1,(B:1E-1,(E:1E-1,D:1E-1)

[2016-08-23 08:31] tseemann commented on #236
I agree this is a bug.

However I wonder what formatter in BEAST is producing the `E0` outputs in the first place.

[2016-08-23 08:36] jhcepas commented on #236
Thanks @kwongj,
Yes, this is a bug and your fix looks fine to me.

[2016-08-23 08:40] #236 closed

[2016-08-23 08:47] jhcepas commented on #235
yes, it looks as an internal conflict. Model testing was originally developed for phyml syntax and it seems some model parameters are not accepted in raxml. We need to look this in detail.
Thanks for reporting

[2016-08-23 13:58] samoturk opened #237 "pango should be added to conda dependencies"
I use conda on 64 bit linux and rendering was crashing ipython kernels. Installing pango (the one from conda) fixed the problem.

[2016-08-23 14:07] jhcepas commented on #237
interesting, ete does not explicitly use pango. Perhaps conda install pango installed another library? in principle, only pyqt is required.

[2016-08-23 14:27] samoturk commented on #237
I guess it is then pyqt (or qt?) that should have this as dependency? Anyway, this is the output when I try to render without pango installed:
[code]

It probably isn't an issue for most people since it can also use the system pango (as it attempted in my case) and they have compatible pango.

[2016-08-24 09:04] samoturk opened #238 "Create ImgFace from buffer"
Currently ImgFace can be only created from file or url. It would be very convenient if it would be possible to also create it from buffer. I tried using StringIO, but I failed.
[code]
When I render the tree, the image is not there and I also don't get any error. Works perfectly if I save the image from buffer to file and give the file name to ImgFace..

[2016-08-24 09:08] jhcepas commented on #238
thanks @samoturk , this is a good idea.
If you can add the relevant modifications to the ImgFace class in faces.py, I'll be happy to accept a pull request. Otherwise, we will keep this in the roadmap for future releases.

[2016-08-24 09:13] samoturk commented on #238
I'm looking into it. The problem is that in other cases where I wanted to do something similar, the above method worked, but it somehow doesn't with pyqt. Unfortunately I don't have experience with pyqt. Any pointers?

[2016-08-24 09:17] jhcepas commented on #238
I think you would need to load the img binary data into a QPixmap using something like:
http://doc.qt.io/qt-4.8/qpixmap.html#loadFromData
it may require converting the data into a [QByteArray](http://doc.qt.io/qt-4.8/qbytearray.html) first

[2016-08-24 09:20] jhcepas commented on #238
Another option (as I see that what you try to do is to load a svg) is to accept SVG files/data directly in ImgFace. I think this should be possible with something like:
[code]

[2016-09-14 13:17] maudema opened #240 "Evoltree : different n_classes for NEB and BEB after running M8 model"
Hi !

I'm using ete3 on python 2.7. When I use run_evol_model() function of EvolTree for M8 model (with default parameters), I obtain 9 omega classes for NEB analysis( as expected) but 11 omega classes for BEB analysis.

Is it normal that obtain 11 omega classes for BEB analysis ?

[2016-09-14 13:56] jmichalon opened #241 "TextFace with newline in text are sized as if single line"
Hi,

Using a TextFace with newlines in the text do not take the breaks into account in the size usage (width and height). One could workaround the vertical problem with margin but not horizontaly (would need negative margin!).

You are using QFontMetrics.boundingRect(text), where:
Newline characters are processed as normal characters, not as linebreaks.
Whereas QFontMetrics.boundingRect(rect, flag

[2016-09-15 07:01] fransua commented on #240
Hi,
indeed BEB uses 11 site classes (see http://mbe.oxfordjournals.org/content/22/4/1107.full , or the PAML documentation).
However, it is true that sometimes the NEB returns 9 site classes, I am not sure why, but as it is recommended to always use the BEB results I never really worried about it.
I let you know here, if I find some more information

[2016-09-15 08:36] jmichalon opened #242 "load/write sequence in newick format=1 forgets root node internal name"
Hi,

If I have a Tree() with an internal name on root node, that name is not written when using the write() method in fomat=1. Looking at the example at http://etetoolkit.org/docs/latest/tutorial/tutorial_trees.html#writing-newick-trees we clearly see that the label "Root" is there at load, but not at write.
Working around by adding a fake root ontop does the job for me.

Using ete3-3.0.0b35 from

[2016-09-15 08:39] jhcepas commented on #242
use write(..., format_root_node=True)
Not default for backwards compatibility:
http://etetoolkit.org/docs/latest/reference/reference_tree.html#ete3.TreeNode.write

[2016-09-15 08:39] #242 closed

[2016-09-15 08:54] jmichalon commented on #242
Oops sorry for the noise… maybe worth updating the example then :P Thanks for your superfast answer!

[2016-09-15 13:03] maudema commented on #240
Thank you for the reference.
I thought that ncatG parameter was about NEB and BEB analysis. But, if I have understood correctly, ncatG defines the number of classes (equal-probability classes) used for discretize beta distribution in NEB analysis, whereas BEB analysis always discretize beta distribution in 10 equally spaced classes.
So with 8 as default value of ncatG, we obtain for NEB analysis :

[2016-09-15 14:42] fransua commented on #240
thanks! It's clear to me too now, I think that your interpretation is right (I tried changing the ncatG parameter and it affected directly the number of classes for the NEB only).
thanks!

[2016-09-15 14:43] maudema commented on #240
You're welcome , thank you too !

[2016-09-15 14:43] #240 closed

[2016-09-19 09:06] ekopylova commented on #161
I was wondering if there can be an ETA on this? Would be great to be able to use it for our HGT visualization. Thanks!

[2016-09-26 11:10] tmavrich commented on #195
I ran into the same issue after using conda to install. The code works fine when importing it into a python script, but the command line tools do not seem to work:

conda install -c etetoolkit ete3 ete3_external_apps
Using Anaconda Cloud api site https://api.anaconda.org
Fetching package metadata .........
Solving package specifications: ..........

Package plan for installation in environment /an

[2016-09-26 11:29] jhcepas commented on #195
This might be due to the lack of an X system running in the server (PyQt4 requires that). You can emulate it easily with `xvfb`. I usually do `xvfb-run ete3 [...]` when running in servers without X

[2016-09-26 19:29] tmavrich commented on #195
Oh okay, I see. I'm new to using conda and thought it would cover those types of dependencies as well, but I guess it doesn't. Thanks for the clarification!

[2016-09-30 16:40] StackerEd commented on #195
I did everything you said including using xvfb-run and it still has the import TextFace error

[2016-09-30 17:25] jhcepas commented on #195
@tseemann @tmavrich @StackerEd I have just noticed that conda has upgraded the default pyqt installation from 4.x to 5.x, therefore the errors.
`conda install pytqt=4` should get you the right version. I will upgrade the docs and the ete package in the conda cloud. thanks!

[2016-09-30 19:01] jhcepas commented on #195
the conda ete3 pkg is now updated (`ete3-3.0.0b36`) so it specifically requires pyqt4 when installing

[2016-09-30 20:12] tmavrich commented on #195
Great, it works for me now after updating it. Thanks for your help!

[2016-10-04 14:13] hadiartik commented on #195
i am using ete3-3.0.0b36 and pyqt is 4.11.4-py27_4  but having the same problem
Any suggestions?

[2016-10-04 14:55] jhcepas commented on #195
does this work on the command line?

`python -c 'from PyQt4 import QtGui'`

On 4 October 2016 at 16:13, hadiartik <notifications@github.com> wrote:

[2016-10-04 15:55] hadiartik commented on #195
@jhcepas thanks for your quick response

When I executed that command I see the following error
`ImportError: No module named PyQt4`

it seems `PyQt4` is missing but when I checked the installation log I saw that `pyqt-4.11.4-py` was installed when I executed `conda install -c etetoolkit ete3 ete3_external_apps` command

[2016-10-04 15:57] jhcepas commented on #195
did you enable the conda environment by changing the PATH variable in your
shell?

On 4 October 2016 at 17:55, hadiartik <notifications@github.com> wrote:

[2016-10-04 16:02] hadiartik commented on #195
my PATH variable starts with `/home/vagrant/anaconda_ete/bin`
Do I need to do anything else?

i used `export PATH=~/anaconda_ete/bin:$PATH;` as instructed ete web site

[2016-10-04 16:03] hadiartik commented on #195
one more thing, I executed install command again and now I am getting

`Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: libXext.so.6: cannot open shared object file: No such file or directory`

when I execute `python -c 'from PyQt4 import QtGui'`

[2016-10-04 16:41] jhcepas commented on #195
this error is more cryptic.
Is there an X system running? If not, try the xvfb trick described in
previous messages.

On 4 October 2016 at 18:03, hadiartik <notifications@github.com> wrote:

[2016-10-04 19:29] hadiartik commented on #195
executed `xvfb-run ete3 version` and got the original error
`...   from .. import (Tree, PhyloTree, TextFace, RectFace, faces, TreeStyle, CircleFace, AttrFace,
ImportError: cannot import name TextFace`

do you think this is happening because I am running on Vagrant environment?

[2016-10-06 12:51] maudema opened #243 "codeml control file modifications does not work"
Hi ,
I have used "run_model()" function of EvolTree class to fit codeml M8 model. I have tried to change omega parameter value by this way: tree.run_model('M8' , omega = '0.4'). After running, when I have checked control file by this way:  tree.get_evol_model('M8').get_ctrl_string() , omega parameter had default value 1.7 , it seems that omega value have not been modified.

[2016-10-06 15:18] hmkim opened #244 "ete install in Mac OS Sierra using condo"
I installed miniconda (http://conda.pydata.org/miniconda.html) on my MacBook.

https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh

and I try to install ete. but show this message in below.

How can I handle this problem ?

[2016-10-06 15:22] fransua commented on #243
Hi,
in the M8 model, omega is not fixed, if you input a value it will only be used as starting point for the optimization.

[2016-10-06 15:29] maudema commented on #243
Exactly , I would like use different values of omega in order observe if this have an impact on the results.

[2016-10-06 15:52] jhcepas commented on #244
the package 'ete3_external_apps' is not yet updated in the conda repository
to match python 3.5 (although it is fully compatible). I have also noticed
that there is another broken dep in conda.

The easiest way to solve as for now would be to force python3.4 and qt4:

execute this after installing miniconda:

conda install python=3.4 qt=4

and then install ete3 normally:

 conda install -c etetool

[2016-10-06 15:57] jhcepas commented on #195
I don't think so. It might still be some broken dependencies in conda.
I changed the ete package to use pyqt4, but conda may still be installing
pytqt4+qt5 instead of pyqt4+qt4

you can force it by doing:
conda install qt=4

hope it works

On 4 October 2016 at 21:29, hadiartik <notifications@github.com> wrote:

[2016-10-06 17:24] fransua commented on #243
Ok, this is an important bug.
It is corrected on my fork of ETE: https://github.com/fransua/ete
(and will be soon included in a new release of the main branch of ETE)

Alternatively, if you want to keep your version of ETE, you could be able to run your example with something like this:

[code]

thanks for reporting, and sorry for this bug.

francois

[2016-10-07 00:34] hmkim commented on #244
$ conda create -n ete3 python=3.4 qt=4
$ conda install -n ete3 -c etetoolkit ete3 ete3_external_apps ete3_external_tools
$ source activate ete3
$ ete3 upgrade-external-tools
target directory : /home/brandon/miniconda3/envs/ete3
$ ete3 version
$ ete3 build check

$ less /Users/brandon/miniconda3/envs/ete3/ext_apps-latest/slr.log

[slr.log.txt](https://github.com/etetoolkit/ete/files/515045/slr.log.

[2016-10-07 07:44] maudema commented on #243
Thank you.

I use the alternative solution and it works, values in ./tmp.ctl file are modified.

However I saw that get_ctrl_string() method, if I use it after running by this way:  t.get_evol_model('M8').get_ctrl_string() , does not account for updating values in ./tmp.ctl file.

Maybe this bug no longer exist on your fork of ETE.

[2016-10-07 13:46] jhcepas commented on #244
Hi Hyunmin,
Slr is tricky to compile. I will see if I can update the conda package with
the corresponding precompiled binary for python 3.4.
If you don't need SLR (required only by some 'ete3 evol' execution modes),
you can just use `ete3 build` normally.

On 7 October 2016 at 02:34, Hyunmin Kim (Brandon) <notifications@github.com>
wrote:

[2016-10-07 21:14] eggomez commented on #195
I had this same error and this worked for me. Thank you.

[2016-10-10 11:29] hmkim commented on #244
Thanks for your reply.

[2016-10-10 11:29] #244 closed

[2016-10-13 21:18] kfuku52 opened #246 "could not draw a proper heatmap"
Hi,

I have tried to draw a heatmap through TreeStyle() settings but it seems that the heatmap colors incorrectly become identical among all leaves. t.render("heatmap") properly showed heatmap colors for each leaf but I would like to use TreeStyle for additional tree annotations. Here is my code (modified from a sample script in [this page](http://etetoolkit.org/docs/latest/tutorial/tutorial_clust

[2016-10-17 23:16] hadiartik commented on #195
@jhcepas qt=4 option is not working for me
Is there a clean way to uninstall ete package and try to install again?

thanks

[2016-10-18 09:40] jhcepas commented on #246
Hi Kenji,
try generating each ProfileFace within the layout function:

nameFace = AttrFace("name", fsize=8)
def mylayout(node):
    if node.is_leaf():
        profileFace  = ProfileFace(matrix_max, matrix_min, matrix_avg, 200,
14, "heatmap")
        add_face_to_node(profileFace, node, 0, aligned=True)

On 13 October 2016 at 23:18, Kenji Fukushima <notifications@github.com>
wrote:

[2016-10-18 15:13] jhcepas commented on #195
you can try a fresh installation of miniconda.
From the instructions at http://etetoolkit.org/download/ substitute
"~/anaconda_ete" by something else.

On 18 October 2016 at 01:16, hadiartik <notifications@github.com> wrote:

[2016-10-18 16:05] kfuku52 commented on #246
It went well, thank you! - Kenji

[2016-10-18 16:05] #246 closed

[2016-10-28 13:42] jhcepas commented on #161
there is some progress by @AlexBardill, https://github.com/etetoolkit/ete/pull/247
hopefully some of the functionality is available soon.

[2016-12-08 15:14] albacrespi opened #248 "How to iteratively detach nodes from the origninal tree?"
Hi,

I have a tree and I want to obtain subtrees by detaching one branch at time and do it for all the nodes.
The function detach does it, but it detaches from the previous tree and not from the original one (t).
How can I do it?

      from ete3 import Tree
       t = Tree()
       t.populate(5)
       print t

          /-aaaaaaaaaa
        /-|
       |  |   /-aaaaaaaaab
       |   \-|
     --|

[2016-12-21 15:26] jhcepas commented on #248
you probably need to use a non-iterative traversing method.
for instance:
[code]

On 8 December 2016 at 16:14, albacrespi <notifications@github.com> wrote:

[2017-01-02 09:05] #248 closed

[2017-01-05 21:16] aguang opened #249 "TreeNode.add_feature has TypeError"
I think there is a bug in TreeNode.add_feature(). When I run it I always get `TypeError: add_feature() got an unexpected keyword argument`.

Example:
[code]

This doesn't occur if I use TreeNode.add_features() instead.

[2017-01-05 23:07] jhcepas commented on #249
Hi @aguang, the functionality you are looking for is in Tree.add_feature**s**().
http://etetoolkit.org/docs/latest/tutorial/tutorial_trees.html#node-annotation

[2017-01-05 23:07] #249 closed

[2017-01-09 14:16] mortonjt opened #250 "Conversion from ete3 trees to skbio trees"
Right now, there is no way (I know of) that can convert ete3 trees into skbio trees.  So right now, I'm doing the conversions by passing around the newick strings.  However, this is showing to be problematic.  Specifically if I try to run the following code

[code]
I get the following two trees

[code]
So the ete3 trees have a different naming scheme that I don't quite understand.
The hack around

[2017-01-10 09:55] jhcepas commented on #250
@mortonjt, you need to export the newick string using format=1, so it keeps internal node names.
[code]

[2017-01-10 14:24] mortonjt commented on #250
Awesome! I think that basically resolves my immediate issues.  Thanks!

However, it looks like the attributes aren't copied over from ete3 to skbio.
Copying these attributes over could be still be useful in a conversion function.

[2017-01-10 14:28] jhcepas commented on #250
nope, attributes are not transferred through serialization. I discussed this with @gregcaporaso et al once, but skbio.Tree was still not stable and we were unsure about how to transfer attrs.
If done, it would probably make sense to have method that copies the tree properly and not through newick serialization.

[2017-01-28 07:15] evodevosys opened #252 "conda install not installing some external apps"
I've just started working with conda and ete.
I had installed ete3 and ete3_external_apps using conda on a Mac, OS 10.9.5

I tried an ete3 build workflow:
`ete3 build -w standard_raxml -a FORK_HEAD_1.fa -o output_tree`
and got the following errors to start:

  --------------------------------------------------------------------------------
                  ETE build (3.0.0b35) - reproducible phyl

[2017-01-30 14:04] Anaphory opened #253 "Scipy fallback in 3.0.0b35 has an error"
I just installed 3.0.0b35, and after the failed scipy import, the except also fails. (I don't really mind, I find scipy useful, so I installed it.)
[code]

[2017-01-30 14:16] Anaphory commented on #253
Oh, it's #206, isn't it?

[2017-01-30 14:16] #253 closed

[2017-01-31 22:26] nextgenusfs opened #254 "ete3 evol error: Warnning: terminal nodes could not be found in the alignment."
I'm trying to run dN/dS for an alignment and getting an error I don't quite understand.  Would you clarify what this error means? `Warning: terminal nodes could not be found in alignment`

Essentially I've run this on a huge loop through ~ 10,000 orthologous groups and I get this error on only a handful of the alignments and not quite sure what is causing it.

Full command:
[code]

[2017-02-01 07:38] jhcepas commented on #254
@nextgenusfs @fransua looks like some trees and algs don't have exactly the same sequence names. This can also happen when seq. names contain reserved newick characters, which are are automatically replaced by _ in the tree but not in the alignment. Those chars are: )(][:,

[2017-02-01 11:51] nextgenusfs commented on #254
Thanks that got me on the right path, my tree from phyml was apparently truncated... now to figure out how/why that happened!
Thanks,
Jon

[2017-02-01 11:51] #254 closed

[2017-02-02 12:14] jhcepas commented on #252
Could this be the same issue discussed here https://groups.google.com/forum/#!topic/etetoolkit/QxhHzr6x9CE

Please reopen the issue if not.

[2017-02-02 12:14] #252 closed

[2017-02-03 11:43] davidhwyllie opened #255 "'Write argument must be str, not bytes' error using phyloXML project.export() method"
Hi

I have been trying a javascript tree viewer https://phyd3.bits.vib.be/view.php?id=91162629d258a876ee994e9233b2ad87&f=xml which accepts phyloXML as input.
As part of this I have been trying to generate phyloXML from ete3, as our existing visualisations are static and are produced by ete3.

I have discovered that the ete3 phyloxml project.export() method can produce an unexpected error
'write ar

[2017-02-03 11:46] davidhwyllie commented on #255
So sorry, the code got interpreted as markdown.
Here it is, correctly formatted..
[code]

[2017-02-03 12:09] davidhwyllie commented on #255
Actually, even though the .export succeeds without error using the 'format=1' option, the output is not correct.   The content of some of the tags (e.g. b'14') appears to be result of printing a python 3 'bytes' object, compatible with the error message generated on some occasions.
e.g.
[code]
as in
[code]

[2017-02-03 13:25] davidhwyllie commented on #255
If we use the 'format=0' option, as in the below code.

[code]

then we get traceback as below (note that the export starts, but then raises an error :
[code]

This error can be prevented by replacing line 3008  with the below:
            ## if type(self.valueOf_)==float then the below raises an error.
            ##    outfile.write(str(self.valueOf_).encode(ExternalEncoding))
            if not

[2017-02-07 21:38] akrasuski opened #256 "Event tree with ete3"
I would like to generate event trees: https://en.wikipedia.org/wiki/Event_tree_analysis#/media/File:Event_Tree_Diagram.JPG
Is it possible to use for this purpose ete3 toolkit?

[2017-02-08 10:13] jhcepas commented on #256
do you mean figures like that?
Except for the header event line on top of the image, yes, you can use ete3
to draw trees like that.

On 7 February 2017 at 22:38, akrasuski <notifications@github.com> wrote:

[2017-02-08 11:29] akrasuski commented on #256
Yes, I have the problem with the header. The tree is feasible for me. The header should be aligned to the specific branches. Have you any idea how to do this? Combine two images?

[2017-02-09 14:23] jhcepas commented on #256
adding this type of rulers would be very useful in ETE
It is somehow on the roadmap (See this open issue
https://github.com/etetoolkit/ete/issues/112, but it will require
substantial work in the renderer and nobody is working on this feature at
the moment, AFAK.

On 8 February 2017 at 12:29, akrasuski <notifications@github.com> wrote:

[2017-02-09 14:24] jhcepas commented on #256
duplicate #112

[2017-02-09 14:24] #256 closed

[2017-02-09 14:28] jhcepas commented on #255
thanks for reporting this, @davidhwyllie
It definitely sounds as a compatibility problem with Py3.
Could you run the export command using python2 as a workaround?

[2017-02-09 23:51] davidhwyllie commented on #255
Thank you.

I think that the issue is that the outfile.write() parameter is exporting to file the __repr__ of the parameter passed, which in python 2 is a str, but which I think it python 3 is a bytes object.

[code]
By default 2.7 is generating a string object which renders correctly without the .decode() but in 3.x is is generating a bytes object for which the __repr__ is b'thing' not thing.

As

[2017-02-11 16:58] JonathanReeve opened #257 "Can't render Jupyter Notebook inline image from within a function"
This works for rendering a tree in a Jupyter Notebook: `t.render('%%inline', tree_style=ts)`, but this sort of thing doesn't:

[code]

That is, it won't work from within a function. I'd like to be able to abstract tree rendering a little bit by putting this function into a module, which would allow me to be able to import my module into the notebook, instead of having to run `.render()` on its own

[2017-02-15 15:43] davidhwyllie commented on #255
Is there an existing test suite for the phyloxml module?
If so, could you tell me how to run it?  I will make a fork and attempt to fix this.
If not, if I write tests using unittest is this OK, or do you want a different framework?

[2017-02-15 16:14] jhcepas commented on #255
Hi @davidhwyllie , thanks for your interest!
the phyloXML tests are really basic: https://github.com/etetoolkit/ete/blob/master/ete3/test/test_xml_parsers.py#L10

The main reason is that the PhyloXML parser itself is not well supported. The parsing code was  automatically generated using generateDS based on phyloXML schema.
I did not have enough experience with phyloXML (and XML in general), so I

[2017-02-17 16:41] davidhwyllie opened #258 "Reading nexus files from strings > 220bytes fails on windows with Python 3"
Hi

A minor issue; in the Newick parser read_newick function (parsers/newick.py, line 220) called when reading newick files, as described here:
http://etetoolkit.org/docs/latest/tutorial/tutorial_trees.html#reading-newick-trees

does a kind of 'duck typing' approach to deciding whether the string passed is a file path or a newick string.
On windows this fails if the string is >220bytes because os.

[2017-02-20 09:36] jhcepas commented on #257
Hi @JonathanReeve
you have to return from the t.render() call.
At least that worked for me. For instance:

[code]

[2017-02-26 01:50] djokester opened #259 "treeNode.name doesn't have a value"

[2017-02-26 01:59] #259 closed

[2017-02-27 21:21] janebear opened #260 "Problem using conda install of ete3"
Hi,

I'm having some trouble installing ete3 using the recommended conda way. I first ran `conda install -y pip six numpy pyqt lxml gcc` to install all the dependencies, but then when I ran `conda install -c etetoolkit ete3 ete3_external_apps` I was met with this error:

[code]

Is this implying that my python 2.7 is conflicting with the current python 3 version?

[2017-02-27 21:54] #260 closed

[2017-03-03 09:18] Unode commented on #237
Pango is a dependency of cairo which may be a dependency of PyQt. It certainly is of PyGtk.

[2017-03-03 09:20] Unode commented on #258
@davidhwyllie Can you paste a traceback of the actual error?
Depending on the content I'm tempted to report this as an upstream (i.e. python) problem.

[2017-03-03 09:22] Unode commented on #258
Also which version of Python 3?

[2017-03-03 09:35] Unode opened #261 "Windows and MacOSX testsuite integration"
As part of improving support for Microsoft Windows platforms we will need to extend our testsuite to also test on this platform.

We currently use Travis CI for continuous testing.
Travis has recently introduced support for [MacOSX](https://docs.travis-ci.com/user/osx-ci-environment/). I gave a try some time ago on another project with little success but some projects have managed to get it runnin

[2017-03-03 10:23] Unode commented on #257
Jupyter will only automatically display inline objects if they are returned by the last line in each cell.

If you want to display them throughout your code you can use:
[code]

[2017-03-03 10:23] #257 closed

[2017-03-03 11:12] jhcepas commented on #237
It is weird. Qt does not use cairo AFAIK. Did you install qt4 using conda
as well?
ete is currently tested on a bare linux system where only the following
conda packages are required:
https://github.com/etetoolkit/ete/blob/master/utils/conda_build/meta.yaml.template#L13

On 3 March 2017 at 10:18, Renato Alves <notifications@github.com> wrote:

[2017-03-04 21:31] davidhwyllie commented on #258
Hi

at the moment I am having trouble producing a unit test to reproduce this.  It isn't as simple as the 'strings longer than 220 chars' described above.  When I have a reproducible, failing example I will write further.

In the meantime, I have attached a unit test which passes which loads small and large files from strings and files on windows using unpatched ete3.

It produces a deprecation wa

[2017-03-06 21:22] jhcepas opened #262 "Developing a novel format for phylogenomic data (Project Description)"
Project idea for GSOC-2017
=========================

Rationale
-------------
Phylogenetic trees are usually encoded using the so called Newick format. While convenient, this format has limitations to store metadata associated to the different nodes in a tree. Some alternative formats exist (NeXML, PhyloXML, Nexus) which are already supported by the ETE toolkit. However, none of those formats is o

[2017-03-08 09:18] CrakeNotSnowman opened #264 "Segfault during "python setup.py install", or importing after pip install on 32 bit Linux"
Right, so

I have a 32 bit system running Ubuntu 14.04 LTS
My python specs are 'Python 2.7.12 |Anaconda 4.1.1 (32-bit)'

When installing ete3 through pip, the install works
Once I import the installed ete3, I get an immediate segfault

After uninstalling and verifying that there aren't other ete3 versions hidden somewhere in my system, I downloaded the source (v 3.0.0b35) and ran setup.py ($ pytho

[2017-03-08 09:31] jhcepas commented on #264
could you check that the env variables LD_LIBRARY_PATH (or DYLD_LIBRARY_PATH in OSX) are not set?

[2017-03-08 09:31] Unode commented on #264
Hi Keith,

Jaime beat me to it (about LD_LIBRARY_PATH)

In addition, your segfault seems to have core dumped, can you check if a "core" file exists in the folder where you ran python and upload it somewhere?

[2017-03-08 09:34] CrakeNotSnowman commented on #264
I'm going to close this issue. I think my computer is fubar.

I spent two damn hours writing that message and checking different tests and only now am I starting to see this error in other libraries.

Ah damn you guys are fast, where would I look for those (though I reiterate, I think my computer is fubar)

[2017-03-08 09:35] Unode commented on #264
@jhcepas Our tests don't run on 32bit architecture. Could be that some external dependency (qt, ...) has issues.

[2017-03-08 09:36] Unode commented on #264
@CrakeNotSnowman

Try opening a terminal and run:

    env | grep LIBRARY_PATH

If something shows up, run:

    unset VARIABLE

where VARIABLE is the uppercase name that shows up before the `=` sign.

[2017-03-08 09:45] jhcepas commented on #264
@Unode Re 32-bits: right. Conda ete channels provide 64-bits only binaries. External app compilation should be necessary then. Is there many people still using 32-bits?

[2017-03-08 09:54] Unode commented on #264
I wouldn't expect it. Trying to figure out numbers.

[2017-03-08 10:05] CrakeNotSnowman commented on #264
Right so at this point it's critical to point out I studied EE while in college and am not great at comp sci stuff. Just about all programming I know is self taught, with large gaps in my knowledge. I can get stuff to work, but it isn't the prettiest implementation

I'm the only person I'm aware of on a 32 bit system, I wouldn't add it to your tests, more or less 32 bit is no longer supported by m

[2017-03-08 10:17] jhcepas commented on #264
@CrakeNotSnowman don't unset PWD. The problem is most probably on your computer/OS, as you said. Try installing a most recent OS version. I am closing this since it is not an ETE related problem.

[2017-03-08 10:17] #264 closed

[2017-03-08 10:19] Unode commented on #264
I'm surprised by the output you got...

    PWD=LIBRARY_PATH

means that your current work directory **is** `LIBRARY_PATH` which makes no sense.
Regardless, nothing else showed up so `LD_LIBRARY_PATH` and friends isn't to blame.

If you want to stick with 32bits Linux, you'll have to figure out why it's segfaulting on your own.
It's a painful road if you don't know your way around I should say.

[2017-03-08 11:03] CrakeNotSnowman commented on #264
Thanks for closing this.
I thought this was ETE specific, but it's starting to show up in a lot of places that ETE isn't touching.

(Largely for anyone in the future who comes across similar issues)
I'm backing everything up, and then I'm going to wipe this computer and run a fresh install of everything. (that'll occur over the next 24 to 72 hours give or take) If the issues come back, and are iso

[2017-03-08 13:45] ColinAnthony opened #265 "SequenceFace border=True/False setting?"
I am displaying a tree with SequenceFace to display the Amino acid sequence for each leaf.

SequenceFace allows me to set custom background and foreground colours (using dictionaries), but when I do this, a black border is added to the face. This border is not present when `'fg_colors=None` is used
Is there a setting to turn off this border off when using custom fore/background colours?

[2017-03-09 09:23] jhcepas opened #266 "improve scale bar resolution"
From the mailing list:
[code]

[2017-03-14 17:10] karel-brinda opened #267 "Order of features – problems with reproducibility"
Hi all, I am a little bit struggling with making pipelines using ETE3 reproducible. My current problem is with the order of features written to a Newick/NHX file as this varies in individual runs. I guess that it might be a consequence of the fact that Python dictionaries are not sorted (unless `collections.OrderedDict` is used), therefore, the order of the keys is random.

Would it be possible to

[2017-03-14 18:26] marco-mariotti commented on #267
Hi Karel,
while the main developers of ETE3 may consider to include this in the next
ETE3 version, I think you can have an easy fix by providing the sorted list
of features to the write method. This will ensure the features are listed
in the output in the order you provided them.
For example, if you Tree is variable called 'tree':

# getting complete set of features appearing anywhere in the tree;

[2017-03-15 03:28] karel-brinda opened #268 "Reproducible PDF plotting"
Hi everybody,

I was wondering whether it could be possible to render PDF files in a reproducible way. Unlike SVG, PDF outputs of the ETE library are different each time even when the tree has not been changed.

The PDF files probably contain some metadata like timestamp, which are changing each time. As a consequence, it is not currently possible to detect if the output PDF is really different fr

[2017-03-15 14:10] Unode commented on #268
Hi Karel,

Indeed the only difference between the generated PDFs is a `CreationDate` field.
Unfortunately we rely on `Qt` to render to PDF and there doesn't seem to be any option to change this behavior.

A possible hackish workaround is to run your PDF through:

    sed '/\/CreationDate (D:[0-9]*)/d' -inew my.pdf

[2017-03-15 15:08] jhcepas commented on #258
Thanks David,
can you implement those unitests on your github branch and the Pull
Request?
It is easy to review and comment that way.

On 4 March 2017 at 22:31, David Wyllie <notifications@github.com> wrote:

[2017-03-15 15:15] #268 closed

[2017-03-15 15:42] nomihadar opened #269 "unroot doesn't preserve total branch lengths"
Hi,

The unroot() doesn't preserve total branch lengths:

thanks!
Nomi

[2017-03-16 08:35] jhcepas commented on #269
Yes, this is expected, as one branch is removed when unrooting. This is done because some programs recognise an unrooted tree by the number of root children nodes. If more than 2, it is unrooted. However, I am not sure this is the best approach.
Alternatives:
1) delete branch and branch length (current behaviour)
2) delete branch , transfer length to child nodes
3) avoid rerooting by deleting a br

[2017-03-16 13:57] nomihadar commented on #269
thank you very much!
I think the second approach is the best.

[2017-03-17 11:04] ColinAnthony commented on #265
Update:

SeqMotifFace is unnafected, but does not seem to be accepting a custom colour dictionary, using its own colour scheme instead.

SequenceFace is affected when using both 'None', or a custom dictionary, for the foreground and background colours.

But, will display without the borders on the seqface (in the GUI), if the `tree.show` call is made before the `tree.render` call. The rendered fil

[2017-03-17 13:17] davhel opened #270 "Undefined order of input sequences in ete build workflows"
Currently the order of input sequences is changed to produce a unique task and deliver the same result regardless of the input order. While this can be desirable, it would be useful to:

(a) define in which order the input sequences are sorted (e.g. alphabetical or stable hashing *)
(b) introduce a flag to force ete build to use the input order

Since input order can affect the output when progres

[2017-03-20 23:50] Unode opened #271 "Windows incompatible code"
List of modules that are currently incompatible with Windows:

- [ ] [evol/evoltree.py](https://github.com/etetoolkit/ete/blob/2323e3f1b11d273bd7a11ec26704824e88aa8cd3/ete3/evol/)
- [ ] [ncbi_taxonomy/ncbiquery.py](https://github.com/etetoolkit/ete/blob/aa5a488538b42cb1acc80225f7d1a531b8712b46/ete3/ncbi_taxonomy/ncbiquery.py)
- [ ] [test/test_xml_parsers.py](https://github.com/etetoolkit/ete/blob/

[2017-03-23 06:25] gkarthik commented on #266
Is there a easy way for me to extract the calculated scale bar value?

[2017-03-26 18:47] codemeleon opened #273 "ZeroDivisionError: float division by zero"
Hi,

I am trying draw circular tree style using "from ete3 import Tree, TreeStyle, NodeStyle, SeqMotifFace". However, I am following error

This error doesn't appear with normal tree style.

Thanks.

[2017-03-28 09:48] jhcepas commented on #273
are all the branches zero-length in your tree? I think that might be the cause

[2017-03-28 10:58] codemeleon commented on #273
Yes. There were some branches of zero-length. I have replaced them with very small value. Now it working.

Thanks

[2017-03-28 11:05] jhcepas commented on #273
let's keep de issue open. I think this should be handled by ETE

[2017-03-29 10:19] codemeleon opened #274 "Gap between blocks in circular plot"
Hi,

I am drawing a circular phylogeny with addition information as blocks using SeqMotifFace. However, some gap (white space) is appearing between blocks. Please see the figure.

Is possible to fill these gaps with blocks' colors. If yes, how?

Thank you.

![blockgaps](https://cloud.githubusercontent.com/assets/7693569/24449871/fb3f23fe-1478-11e7-889e-c1b503569e21.png)

[2017-03-29 12:07] jhcepas commented on #274
they should be converted into pie-shape blocks in circular mode.
It is not hard, but will require modifying the Face type

[2017-03-29 16:53] themantalope opened #275 "Conda installation on Mac OS X 10.11.6"
Hi All,

I've tried to install the ete3 package and external apps through the Anaconda distribution. I created a separate conda environment, switched to it, then ran:

[code]

However I got this error:

[code]

In addition, during installation, Anaconda issued this warning:

[code]

What should I do to fix the issue? I need to get this working quickly.

[2017-03-29 17:22] themantalope commented on #275
I think I may have solved the issue. The package egg name within the Anaconda environment `site-packages` directory was named `ete3-3.0.0b36-py3.5.egg`. By removing the `-py3.5` from the name, the commands `ete3 version` and `ete3 build check` worked as expected.

[2017-03-30 00:52] davidhwyllie opened #276 "ResourceWarning on using ete3.Tree.render()"
Hi

I am using python 3.5.2 on Windows with ete 3.0.0b35.  I have an application which can make thousands of trees as part of a bacterial surveillance project.  I have noticed that a resource warning is generated on my system during this process.  To reproduce, one can use this script:

[code]
And then (if the test file is called myTest.py) do
[code]

I get this:
[code]

This is I think about diff

[2017-03-30 06:47] jhcepas commented on #275
Yes, conda packages are only available for python 2.7 and 3.4, but should
also work under py3.5

On 29 March 2017 at 19:22, themantalope <notifications@github.com> wrote:

[2017-03-30 12:51] davidhwyllie commented on #266
Hi

To add to this request, would it be possible to have some way of telling the scale bar what length to have?
For example, in the attached (from which(I've erased some node labels on the right hand side), I would have drawn a scale bar of 10 (or maybe 50), but not 11.1.

![scalebar](https://cloud.githubusercontent.com/assets/12086794/24504874/cddcaddc-154f-11e7-911b-01830333f55e.PNG)

Thank you.

[2017-03-31 08:44] codemeleon commented on #274
Thank you. I will try to modify FaceType.

[2017-04-06 07:37] Unode commented on #276
Hi @davidhwyllie indeed the `open(...).read()` construct is used ubiquitously in ete as one-liner convenience, but as you noticed it can lead to a resource leak.
In most cases those objects will go out of scope and are garbage collected before resources are exhausted. However if you have lots of data you might hit one of the system limits.

This is something that needs to be worked on and cleaned.

[2017-04-06 10:11] davidhwyllie commented on #276
thANK YOU

[2017-04-13 02:41] ZeweiSong opened #277 "conda install on Ubuntu"
Got this error message when I installed on Ubuntu:

UnsatisfiableError: The following specifications were found to be in conflict:
  - ete3_external_apps -> python 3.4* -> openssl 1.0.1*
  - ete3_external_apps -> python 3.4* -> xz 5.0.5
  - python 3.6*
Use "conda info <package>" to see the dependencies for each package.

Is this a Python 3 problem?

[2017-04-13 08:36] Unode commented on #277
Hi @ZeweiSong the issue is that you have created a conda environment for python3.6 and ete is only available via conda for python3.4. You can either downgrade your environment to python 3.4 or install ete from pypi using `pip`

[2017-04-15 05:40] SchwarzMarek opened #278 "collapse_lineage_specific_expansions unable to handle set"
Hello,
I've found minor bug, which in Python 3.4 (and maybe others) prevents usage of collapse_lineage_specific_expansions function.
In ete3/phylo/phylotree.py line 724 there is type checking of input:
`if species and type(species) not in set(["set", "frozenset"]):`
 which just does not work. (ie. it raises error for everything but None).

I suggest to convert it to smth like:
`if species and (not

[2017-04-19 19:08] jhcepas commented on #278
@SchwarzMarek you are right. Thanks for reporting.

[2017-04-24 14:21] AsmaTahir opened #279 "Cannot import NCBITaxa()"
I encountered a problem while accessing NCBITaxa(). For the first time it worked fine and then it started to give an error, "ImportError: cannot import name NCBITaxa".

The code is very simple:

[code]

[2017-04-24 14:26] jhcepas commented on #279
Hi @AsmaTahir , It looks like a problem with your python installation (ete3 modules not found?).
Unfortunately this is beyond the support we can offer here. You can however try more general forums like StackOverflow or BioStars (bioinformatics forum).

[2017-04-24 14:26] #279 closed

[2017-04-24 16:11] jhcepas commented on #267
The internal dictionary storing features names will probably disappear in future versions (creates unnecessary memory overhead in large trees). As the exporting order can be controlled with `tree.write(features=[...]`) I suggest to close this and work for now.

[2017-04-24 16:46] #266 closed

[2017-04-24 16:46] #278 closed

[2017-04-24 16:46] jhcepas commented on #266
@davidhwyllie you can now use TreeStyle.scale_length to fix the length of the bar. Note that setting too large values may lead to Exceptions, as the scale should always be smaller than the tree representation.

[2017-04-24 16:51] jhcepas commented on #266
@gkarthik by default, scale bar is adjusted to use 50 pixels in the final image. Branch unit to pixel conversion is calculated internally based on TreeStyle.scale if provided or, by default, automatically adjusted to fit all graphical items (faces) in branches.

[2017-04-24 16:52] #262 closed

[2017-04-24 16:53] jhcepas commented on #250
closing as exporting features does not seem to be necessary for the moment.

[2017-04-24 16:53] #250 closed

[2017-04-24 16:58] #241 closed

[2017-04-24 17:00] jhcepas commented on #237
Closing this as I cannot reproduce

[2017-04-24 17:00] #237 closed

[2017-04-24 17:03] #243 closed

[2017-04-24 17:13] #232 closed

[2017-04-24 17:15] #219 closed

[2017-04-24 17:18] jhcepas commented on #277
duplicate #275

[2017-04-24 17:18] #277 closed

[2017-04-24 17:27] #47 closed

[2017-04-24 17:39] jhcepas commented on #174
webplugin progress is at: https://github.com/etetoolkit/webplugin

[2017-04-24 17:39] #174 closed

[2017-04-24 17:40] jhcepas commented on #111
This is now integrated into master

[2017-04-24 17:40] #111 closed

[2017-04-24 17:45] jhcepas commented on #24
was added in former releases

[2017-04-24 17:45] #24 closed

[2017-04-24 17:46] jhcepas commented on #23
added in commit #8c6bf06

[2017-04-24 17:46] #23 closed

[2017-04-24 17:47] #137 closed

[2017-04-24 17:48] #5 closed

[2017-04-24 17:50] jhcepas commented on #78
deprecated in favor of SeqMotifFace?

[2017-04-24 17:50] #78 closed

[2017-04-24 20:58] karel-brinda commented on #267
Hi @marco-mariotti and @jhcepas, thank you for your answers. I and my colleagues are now rewriting all our scripts using ETE3 so that our features get sorted everywhere (using the `features=sorted(feats)` trick).

I believe that it would be better to fix the bug instead of keeping it and waiting if (or if not) it will  disappear with an update of the internal dict mechanism in ETE3.

Random behavi

[2017-04-25 06:52] jhcepas commented on #267
@karel-brinda not really a bug, but it is very easy to fix anyways, so I just included default sorting when exporting all features.

When users request a specific list of features, the provided order is respected. Does that sound like the expected behaviour?

[2017-04-25 13:03] TolyaDev commented on #101
Well, despite our best efforts we couldn't use ETE on Amazon EC2 instance because it relies on X server. For us this is the reason to forget ETE

[2017-04-26 21:56] davidhwyllie commented on #266
@jhcepas Thank you very much for all your efforts here, which are much appreciated. - David

[2017-04-27 16:15] karel-brinda commented on #267
@jhcepas I think that the update solves the problem, thank you!

I don't have a strong opinion about the order of features when a list is provided by the user. Different runs of the same program and same data lead to the same output so it does not affect reproducibility. It is more about the philosophy of ETE.

I can see three possible approaches:
* Use the order specified by the user (implemented

[2017-04-27 17:30] xyz1396 opened #280 "Wrong heatmap gotten in the demo Cluster Validation Example"
When I run the demo code in the tutorial:Cluster Validation Example

[http://etetoolkit.org/docs/latest/tutorial/tutorial_clustering.html#cluster-validation-example](url)
The code is in the link

The figure I got is not same as the one in tutorial. Every generated node's heatmap is the same.
<img width="577" alt="bubble" src="https://cloud.githubusercontent.com/assets/17617241/25495712/d15e8fda-2b

[2017-05-08 13:28] bernt-matthias opened #282 "Code update for downloads"
I just found this nice addition to the ete code base that was made nearly a year ego #225 .. but it did not find its way into the downloads (pip...).

[2017-05-18 10:27] bede opened #285 "OS X installation fails with Python > 3.4"
I'm unable to install ETE3 on either of my Macs (10.11, 10.12) having used it without problems in the past.

With Miniconda:
[code]

With Homebrewed Python 3.6, ETE3 seems to trying to write to `/usr/local/`:
[code]

Am I missing something?

[2017-05-18 10:30] jhcepas commented on #285
there are not py3.6 packages in conda yet.
Either update via pip or use python 3.5.

On 18 May 2017 at 12:27, Bede Constantinides <notifications@github.com>
wrote:

[2017-05-18 11:24] bede commented on #285
Thanks @jhcepas, all is well with a 2.7 conda env but I get another issue with 3.5:

I'd like to avoid writing Python 2 if at all possible 😄

[code]

[2017-05-18 11:25] bede commented on #285
Ah I just found the manifest for `ete3_external_apps` and see that it needs 2.7 or **3.4**

[2017-05-18 11:27] jhcepas commented on #285
oh, really? all tests are passed in 3.5. We need to check that.

you can try a clean install using 3.5 or just use py 3.4

On 18 May 2017 at 13:25, Bede Constantinides <notifications@github.com>
wrote:

[2017-05-18 11:31] bede commented on #285
A 3.5 Conda env doesn't work for me. 3.4 and 2.7 do, as per https://anaconda.org/etetoolkit/ete3_external_apps/files

[2017-05-18 11:37] jhcepas commented on #285
I see, thanks for reporting it.
we will look into it. Those external apps are actually independent from the
python version, so would run in any

On 18 May 2017 at 13:31, Bede Constantinides <notifications@github.com>
wrote:

[2017-05-24 01:27] sjspence opened #287 "Bug in alignment for TextFace"
I am trying to place text above each column in the TreeStyle().aligned_header and I noticed that the vt_align parameter doesn't seem to work correctly for my application.

I would expect that the vt_align would shift top, center, and bottom as described by values 0, 1, and 2 in the Face class.  However I've been noticing that if I create multiple columns of TextFaces above the plot, the top (0) an

[2017-06-10 15:43] fransua opened #290 "evoltree: add support for more genetic codes"

[2017-06-11 09:09] dblyon commented on #195
I'm using Homebrew to install Python 2.7
and pip to install ete3
**this is worked for me to install PyQt4
brew install cartr/qt4/pyqt**
from: https://robonobodojo.wordpress.com/2017/02/08/installing-pyqt4-on-mac-osx/
(I had the same import errors previously.)

[2017-06-11 16:37] Rafiot opened #292 "Support of WebTreeApplication"
Is it still maintained? For example, `_load_tree_from_path` will fail because `treeid` is undefined.

I'm working on a flask-based interface that would make the creation of web views much easier, and will most probably do some changes to `WebTreeApplication` so I can integrate it more easily.

Should I do PRs?

[2017-06-11 20:34] Rafiot commented on #292
And on the savascript side, `highlight_node` and `unhighlight_node` don't exist: https://github.com/etetoolkit/ete/blob/master/ete3/webplugin/webapp.py#L134

[2017-06-12 16:34] jhcepas commented on #292
Hi @Rafiot,
no this module is no longer maintained. It is deprecated in favor of https://github.com/etetoolkit/webplugin

[2017-06-13 07:25] Rafiot commented on #292
ahh, nice, yes, it seems much easier and is similar to my approach. Thanks for the heads up.

[2017-06-13 07:25] #292 closed

[2017-06-23 07:28] pandurang-kolekar commented on #82
I am facing the similar problem with `pip install ete3`

[2017-06-25 20:16] Rafiot commented on #292
For the records, here is the web interface I developed: https://github.com/viper-framework/har2tree/tree/master/web
It is heavily inspired by the webplugin.

[2017-07-06 16:40] jmeppley opened #293 "Ete3 is somehow breaking the python multiprocessing module"
I'm tracking down an elusive bug and need some guidance. If I import ete3.Tree, I cannot use python's multiprocessing library.

I don't think ete is the root cause, but I'm not sure how to figure out what is. Any suggestions would be appreciated.

I'm installing everything with anaconda, but it only happens if I have add conda-forge channel to my conda-env create command and I also have blast inst

[2017-07-06 18:07] jolespin opened #294 "ValueError: Treeview module is disabled"
I have some code that I was using to annotate ete3 Trees but now it doesn't work.  This is the line that the errors started.  How can I get around this build the trees and view them in Jupyter again?
[code]

### Build Tree
[code]

### Error 1
[code]

### Error 2

[code]

[2017-07-06 19:56] jolespin commented on #244
I can't get TreeView to work with ete3
[code]

[2017-07-06 19:59] jolespin commented on #275
Will this be able to work for Python 3.6?  I'm getting a different error.
[code]

[2017-07-06 20:56] unode commented on #294
@jolespin can you check if your environment has `PyQt4` and not `PyQt5`?
Support for PyQt5 is [work in progress](https://github.com/etetoolkit/ete/pull/284).

[2017-07-06 22:42] unode commented on #293
Indeed that's a strange bug to begin with. Seems to be a problem with ipc or socket communication.
The only thing I see different is that you are missing `glib` on the malfunctioning environment.
I'm not sure what could be wrong either.

[2017-07-06 22:46] jolespin commented on #294
Ah man I have PyQt5...
If I downgrade PyQt, can I use ete3? Would that mess up other things that you know of?
[code]

[2017-07-06 22:54] unode commented on #294
@jolespin are you using virtualenv or anaconda to handle the python environment?
If you are there's no reason for concern. You can always create different environments for different purposes.

Having PyQt5 installed system-wide should also not be a problem as long as PyQt4 is installed in the virtualenv/conda environment.

[2017-07-06 23:04] jolespin commented on #294
I'm using conda.  I'm making a new environment for Python 3.5.3 which should have PyQt4 I think.  If not then I will do this: https://github.com/ContinuumIO/anaconda-issues/issues/2120

[2017-07-06 23:19] jolespin commented on #294
Looking forward to getting ete3 working with Python 3.6.1 eventually.  It's rough going back to Matplotlib after the glory of ete3.

[2017-07-07 16:27] unode commented on #294
PyQt4 and PyQt5 are different. ete3 code was written to use PyQt4 and needs to be made compatible with PyQt5.
Until this happens pinning PyQt4 is the only option.
Closing the issue as it's already being acted upon on #284

[2017-07-07 16:27] #294 closed

[2017-07-10 15:00] jhcepas commented on #244
check that you are not using qt5 (conda list|grep qt).
This is not a problem with miniconda installation, but the Anaconda bundle switched to qt5 as default. Since qt4 is still required, you need to downgrade it.

[2017-07-10 15:02] jhcepas commented on #275
check that you are not using qt5 (conda list|grep qt).
This is not a problem with miniconda installation, but the Anaconda bundle switched to qt5 as default. Since qt4 is still required, you need to downgrade it.

[2017-07-12 10:11] bede commented on #285
Just a heads up that this is an ongoing issue for me Jaime

[2017-07-13 14:45] VidJa commented on #195
Does anyone have this running on anaconda python 3.6? I cannot install with qt=4, tries to downgrade scipy among others.

[code]

[2017-07-13 14:48] dblyon commented on #195
I'm using anaconda python* 2.x*
you could create a virtual environment for python 2.

On Thu, Jul 13, 2017 at 4:45 PM, VidJa <notifications@github.com> wrote:

[2017-07-13 14:52] unode commented on #195
Python 3.4 and 3.5 should also work. The defaulting of pyqt5 only happened recently. #284 #244 #275 #285

[2017-07-13 15:13] davidorme opened #295 "Global install and .etetoolkit directory"
Hi,

I'm using `ete2` on a server machine, primarily to make use of the `NCBITaxa` class and I wondered if there was a canonical way of installing the package globally so that the sqlite database can be shared. At the moment, when a different user runs `NCBITaxa()`, the function automatically detects the absence of the database and starts the lengthy process of downloading it and rebuilding it, ev

[2017-07-20 09:21] davidorme commented on #295
Just to add to this, one aspect of this that there aren't any methods to test whether the local NCBI database exist. You can look for the file, but you can't create a NCBITaxa instance and check if has a local database, without triggering the automatic building. So (ignoring the fact that I'm abusing a private method), you could do this:

[code]
Except that creating the NCBITaxa instance unavoidab

[2017-07-24 21:15] dburkhardt opened #296 "Rendering tree in Jupyter Notebook kills kernel"
I think this is a bug, but I don't have another computer to reproduce this on. When I run the following code in a jupyter notebook, the kernel dies and the figure is not produced.

[code]

I get the following error message:
<img width="1661" alt="screen shot 2017-07-24 at 5 12 10 pm" src="https://user-images.githubusercontent.com/8322751/28545004-405e976e-7093-11e7-85ba-48736064ba40.png">

This al

[2017-07-24 22:59] unode commented on #296
Can you start jupyter from a terminal and see if any additional output is produced there when the kernel crashes?

I suspect this might be due to PyQt calling for a graphical display and failing due to how the kernel is started but without further info it's hard to say for sure.

[2017-07-24 23:54] dburkhardt commented on #296
Looks like you're right. There's an error about trying to connect to an X11 display.

`ETE: cannot connect to X server localhost:17.0`

I'm running jupyter on a remote computer and connecting through an http proxy. I didn't realize this would be an issue. Is it necessary to have X11 forwarding set up to render a tree?

Is there any way to get this working without accessing Jupyter through an SSH t

[2017-07-25 00:28] unode commented on #295
Short answer: No there is no automatic way to have this file installed globally.

By default ete stores the taxonomy database in `~/.etetoolkit/taxa.sqlite`.
It remains the default location with `ete3` so you can be confident that it won't change anytime soon.

One possibility to have the file shared between users is to have this be a symlink to another location.
A more reliable option is to make

[2017-07-25 00:28] #295 closed

[2017-07-25 00:36] unode commented on #296
This is a common problem and a technical limitation due to relying on PyQt for rendering.

The most used workaround is http://etetoolkit.org/docs/latest/tutorial/tutorial_webplugin.html#no-x-system-available

[2017-07-25 00:36] #296 closed

[2017-07-25 00:41] dburkhardt commented on #296
I would suggest making a note of this in the ipython notebook page. That was once of the first things I looked at when I found the project.

http://etetoolkit.org/ipython_notebook/

Thanks for your help!

[2017-07-25 00:49] unode commented on #296
Thanks!
@jhcepas can you add that?

[2017-07-25 05:18] jhcepas commented on #296
thanks guys,
actually, I would recommend using xvfb instead of installing an xserver.

On 25 July 2017 at 02:49, Renato Alves <notifications@github.com> wrote:

[2017-07-27 13:19] chris-owen opened #297 "Bug in Class SequencePlotFace argument hlines"
Hi ETE Toolkit,
I was working on a tree that shows a simple bar plot above a sequence alignment when I noticed a bug. Here is the line of the code that renders the bar plot:
[code]
I set `hlines=None`; however, it still renders a dashed line at the y-value of 1.0. I had a look at the Class SequencePlotFace in faces.py and noticed the issue may be coming from the *else* statement on line 2019, whic

[2017-08-01 15:56] kfuku52 opened #298 "StackedBarFace not aligned"
Hello,

I would like to create two stacked bar charts for every node but they do not aligned well even if the same size is specified. My environment is ete3 3.0.0b35 and python 3.5.3 on MacOS.

Here is the code to reproduce the result. In this example, the upper StackedBarFaces are slightly bigger than the lower ones.
[tree.pdf](https://github.com/etetoolkit/ete/files/1191149/tree.pdf)
[code]

Any

[2017-08-03 18:34] smilli commented on #285
Same here! Downgraded to 3.4 to make it work.

[2017-08-04 12:17] ColinAnthony opened #299 "aligning leaf names to right hand side"
Would it be possible to allow leaf names to be aligned to the right
 (or left etc... depending on the tree rotation),
so that all leaf names are aligned over one column?

This would be helpful when adding custom faces to the tree where the branch lengths vary a lot

[2017-08-07 13:50] magitz commented on #280
Same issue here. See [ETE mailing list post](https://groups.google.com/forum/embed/?place=forum/etetoolkit#!topic/etetoolkit/4HfK4_4kVqw). Were you able to find a work around?

[2017-08-08 13:04] jhcepas commented on #299
yes, but you will need to script it.
Simply add a TextFace for each tip node name, and set it to position
`aligned`:

[code]

On 4 August 2017 at 14:17, Colin Anthony <notifications@github.com> wrote:

[2017-08-08 13:06] #299 closed

[2017-08-08 13:43] jhcepas commented on #280
True, this is a bug. The example should look like:
[code]

[2017-08-08 13:46] #280 closed

[2017-08-08 14:13] #298 closed

[2017-08-08 14:14] jhcepas commented on #298
It was a rounding problem. Should be solved with the latest ete version under the master branch

[2017-08-09 15:54] kfuku52 commented on #298
Thank you for your response. I downgraded the ete version from 3.0.0b36 to 3.0.0b35 so that I can use the StackedBarFace and the SVGFace in the same tree plot. Do you have any plan to enable the SVGFace in the latest version?

[2017-08-09 15:59] jhcepas commented on #298
why did you downgrade? SVGFace should be available in the running version too.

[2017-08-09 16:26] kfuku52 commented on #298
It seems that the SVGFace cannot be used in my environment. I tried 3.0.0b36 again by upgrading the ete3.
[code]
But an error occurred.
[code]
`ete3 version` returned `3.0.0b36` so I think I'm using the right version. Other Face modules can be used normally. Any suggestion will be appreciated.

[2017-08-09 16:30] jhcepas commented on #298
oh right, you need to install from the master branch:

`pip install https://github.com/etetoolkit/ete/archive/master.zip`

[2017-08-09 16:38] kfuku52 commented on #298
Thank you! Both SVGFace and StackedBarFace worked well this time.

[2017-08-19 20:28] bernt-matthias opened #300 "ncbiquery with species list from file"
I have a file with a list of species which I would like to search in the NCBI taxonomy like so:

`ete3 ncbiquery  --search \`cat primates.txt\``

which gives me an error:

[code]

running the same with the list of species copy-pasted from the file as argument for --search works. Any ideas? Could this be some weird quoting issue?

[2017-08-19 21:54] unode commented on #300
Can you attach your `primates.txt` file? I suspect the problem is the content.

[2017-08-19 21:55] bernt-matthias commented on #300
[primates.txt](https://github.com/etetoolkit/ete/files/1236692/primates.txt)

[2017-08-19 22:04] unode commented on #300
`cat ~/primates.txt | xargs ete3 ncbiquery --search` works here.

I think the issue with using cat as a subprocess is that the quotes don't get parsed by the shell and end up as part of the query.

This is an SQL injection bug which should eventually be fixed, for now you should be ok with the workaround above.

[2017-08-19 22:06] bernt-matthias commented on #300
Great. Thanks a lot.

[2017-08-20 10:41] #300 closed

[2017-08-24 17:20] souravsingh commented on #138
@jhcepas The tree instances are separate for different parsers. I would like to help with this if possible.

[2017-08-31 01:00] nickwan opened #301 "Python 3.6 + pyqt5 support?"
Hi, was running through the code from [this blog post](https://mrnoutahi.com/2016/01/09/Tree-manipulation-with-ETE/) and got to this part in the code:
[code]

It returns this error for me:
[code]

Checked my versions and my pyqt is v5; also running python 3.6 here. Tried to downgrade to pyqt v4 but there's a python version mismatch error. Any workarounds here would be appreciated, thanks!

[2017-08-31 14:37] unode commented on #301
Another case of #284 .
PyQt5 is not yet supported and anaconda defaults to PyQt5 with a Python 3.6 environment.

Some workarounds are mentioned on #284 . If that doesn't work, try using an environment with Python 3.5.

Closing as duplicate

[2017-08-31 14:37] #301 closed

[2017-09-02 22:29] Rafiot opened #302 "Unable to add a ImgFace to a node when rendering in memory (%%return)"
It is currently impossible to add a ImgFace to a node and render the tree, `QPixmap` will complain with the following warning message:
[code]

It is important if you want to display the rendered tree directly in a web page for example.

[2017-09-02 23:12] Rafiot commented on #302
FYI, I solved it this way:

[code]

[2017-09-11 06:03] jolespin opened #303 "How to get lineage with taxonomic rank names from taxonomy id?"
I want to use this to convert a bunch of identifiers but I need to know exactly which taxonomic rank is assigned to each taxonomy code.  Shown below is an example of conversion that makes sense but I don't know what to label some of the taxonomy calls. The basic taxonomic ranks are: (domain, kingdom, phylum, class, order, family, genus, and species)  https://en.wikipedia.org/wiki/Taxonomic_rank.

[2017-09-11 15:58] jhcepas commented on #303
have you tried `ncbi.get_rank()`
Not all taxids will have a rank though. more docs here:
http://etetoolkit.org/docs/latest/tutorial/tutorial_ncbitaxonomy.html

[2017-09-11 17:31] jolespin commented on #303
Yea, that was definitely what I was looking for.   Thanks!

[2017-09-11 17:31] #303 closed

[2017-09-12 09:41] nsoranzo commented on #282
@jhcepas Can we get a new release on PyPI?

[2017-09-13 09:32] jhcepas opened #304 "ignore missing failing in get_monophyly"
I only recently started to use ETE, and as I want to use the 'check_monophyly' function, I tried it out with a tutorial example tree:

t =  Tree("((((((4, e), i), o),h), u), ((3, 4), (i, june)));")
colors = {"a":"red", "e":"green", "i":"yellow",
           "o":"black", "u":"purple", "4":"green",
           "3":"yellow", "1":"white", "5":"red",
           "june":"yellow"}
for leaf in t:
     leaf.a

[2017-09-14 11:32] thednainus commented on #195
I'm also trying to install ete3 and getting the same type of errors.
When I try to execute the command python -c 'from PyQt4 import QtGui' I get the following message:
"Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: dlopen(/Users/user/anaconda_ete/lib/python2.7/site-packages/PyQt4/QtGui.so, 2): Library not loaded: @rpath/libpng16.16.dylib
  Referenced from:

[2017-09-15 13:35] jhcepas commented on #138
great, there have been no progress on this front for a long time. do you have any idea about implementation?

[2017-09-20 16:00] souravsingh commented on #138
I am thinking of creating an API which can take the Tree Instance from Biopython and can conduct inter-conversion. I am thinking of working on ``Bio.Nexus``, ``Bio.CDAO`` and then maybe move to PhyloXML

[2017-09-23 02:18] psathyrella opened #305 "Figure size and line width maybe inconsistent?"
I'm having trouble getting consistent line widths across different figures, and was hoping you could point to what I'm doing wrong.

An example of the problem looks like this:
![p](https://user-images.githubusercontent.com/2960243/30769187-605ad20c-9fc9-11e7-920c-db9099956760.png)

I have two different trees that I'm saving to separate svgs, and in both of them I [set](https://github.com/psathyrel

[2017-09-23 07:05] jhcepas commented on #305
does the same happen using rectangular tree images instead of circular?
I suspect that the auto scaling of branch lengths (used to fit all tip labels around the circumference) in circular mode might be producing a zoom-out effect...

[2017-09-24 17:27] psathyrella commented on #305
No, it doesn't -- the lines are the same width in rectangular mode. Good call.

So how would I fix it then? It happens even when the total tree depth is quite similar, so I was thinking maybe it had to do with the number of leaves?

[2017-09-24 18:22] psathyrella commented on #305
You know what, I've changed my mind, I like the rectangular ones now better, anyway. Thanks for the help, though.

[2017-09-24 18:22] #305 closed

[2017-09-26 06:49] jhcepas commented on #285
could you guys try the [qt5 branch?](https://github.com/etetoolkit/ete/pull/284)
that one should be compatible with python3.5/3.6 and qt5

`pip install -U https://github.com/etetoolkit/ete/archive/qt5.zip`

[2017-09-26 07:02] jhcepas commented on #282
yes @nsoranzo
working on qt5 support at the moment, hope to release and upload to Pypy this week.
you can always pip install from github ete-master, why you need it on PyPy?

[2017-09-27 09:42] Gullumluvl opened #306 "'--src_tree_format' has no effect with ete3 mod"
Hi,
I tried to load a newick tree with internal node names with `ete3 mod`, but when I add `--src_tree_format=1`  , it is totally ignored.

The newick file is the following:

[code]

When I run :

    ~/miniconda3/bin/ete3 mod --src_tree_format 1 -t Rodentia.timetree.
taxa.nwk -o Rodentia.timetree.ladder --ladderize

I get this error :

[code]

This line in the error seems to show that the command

[2017-10-05 15:20] bernt-matthias commented on #306
Also the `-o` parameter has no effect.

[2017-10-05 15:48] bernt-matthias commented on #306
Potentially also:
[code]

At least I could not figure out how to use them.

[2017-10-05 16:13] bernt-matthias commented on #306
what is mod doing when multiple values are provided with this option: `-- ultrametric [ULTRAMETRIC [ULTRAMETRIC ...]] `

[2017-10-11 13:03] bernt-matthias commented on #306
`--resolve_polytomies` resolves polytomies, but its not random as the command line help suggests

[2017-10-11 13:22] jhcepas commented on #306
thanks. ete-mod definitely not finished, need someone debugging all options.
what do you mean --resolve_polytomies does not resolve  multifurcations randomly? it depends on on the relative order of branches in the multifurcated branch, which is in principle random...

[2017-10-11 13:31] bernt-matthias commented on #306
FYI: I'm just integrating a bit more of the etetoolkit functionality into Galaxy:

https://github.com/TGAC/earlham-galaxytools/pull/90

In particular I wrap ete3 mod. compare and view are on my todo list.

[2017-10-11 13:34] jhcepas commented on #306
that's great. If you need to add changes to ete-mod, please go ahead. I am happy to accept PR on that front.

[2017-10-12 22:15] corinabioinformatic commented on #195
I installed miniconda today (conda install numpy) and later ete3  (http://etetoolkit.org/download/).
When I run
`ete3 version`
It retrieve this error
`Traceback (most recent call last):
  File "/home/user/miniconda2/bin/ete3", line 11, in <module>
    load_entry_point('ete3==3.0.0b36', 'console_scripts', 'ete3')()
  File "/home/user/miniconda2/lib/python2.7/site-packages/pkg_resources/__init__.py"

[2017-10-12 22:26] dblyon commented on #195
not sure but this might be due to the wrong "pyqt" version or "pyqt" not
being installed at all. I think you need pyqt 4.x not 5.x

On Fri, Oct 13, 2017 at 12:15 AM, KoryClik <notifications@github.com> wrote:

[2017-10-12 22:44] corinabioinformatic commented on #195
Now I installed ETE toolkit by the instructions given in 'Native' Tab. It looks it works perfectly, except the point 3:

This is an optional step, required only by ete-build and ete-evol. The Python API does not require external tools.
When I execute
`ete3 upgrade-external-tools`
 I get the same error:
`Traceback (most recent call last):
  File "/home/user/miniconda2/bin/ete3", line 11, in <module

[2017-10-13 08:28] jhcepas commented on #195
What qt and pyqt versions have you installed? Can you `python -c 'import PyQt4' or `python -c 'import PyQt5'?
if using qt5, you need to install ete as:
`pip install -U https://github.com/etetoolkit/ete/archive/qt5.zip`

[2017-10-13 08:45] andrewsanchez opened #307 "Strange results rendering pdf with different dpi and w values"
[code]

[code]
No matter what the `dpi` value, the pdf file is the same size.  Plus, the trees with the two largest `w` value produce smaller sized files.

Is there a reliable way to render smaller files without external tools?

[2017-10-13 08:51] jhcepas commented on #307
dpi has no effect on pdf, as everything is vector based.
if only (w)width  is set, (h)eight is scaled proportionally to keep aspect ratio. That might explain your result.
what do you mean by 'smaller files'?

[2017-10-13 09:04] andrewsanchez commented on #307
Ah, I see.  Thanks for the clarification.

A colleague was wanting to work with the pdf in Adobe Illustrator for some reason.  It was taking a long time to load in the large pdf so I was looking for a way to produce smaller file sizes.  I’m referring to the file size, i.e. not the size of the image.

[2017-10-13 09:06] jhcepas commented on #307
you can also try to export as SVG. I usually do so for post-editing in
Inkscape.

On 13 October 2017 at 11:04, Andrew Sanchez <notifications@github.com>
wrote:

[2017-10-13 11:59] #307 closed

[2017-10-13 12:51] corinabioinformatic commented on #195
`python -c 'import PyQt5'` works fine for me. Anyway when I run `ete3 upgrade-external-tools` I still have the same error.

[2017-10-13 12:58] jhcepas commented on #195
the safest and recommended installation way is via conda. Did you try that?

[2017-10-13 13:05] dblyon commented on #195
make sure that the python you are calling is the one from conda and not
another version (e.g. from the OS).

On Fri, Oct 13, 2017 at 2:51 PM, KoryClik <notifications@github.com> wrote:

[2017-10-13 13:25] leapicard opened #308 "get_descendant_taxa returns empty list with collapse_subspecies = True"
Hello,

I am running this example from the docs:
http://etetoolkit.org/docs/latest/tutorial/tutorial_ncbitaxonomy.html#getting-descendant-taxa

But the second call to print returns an empty list instead of the two item list described in the example.
This is my output:
[code]
Do you have any idea what could be the problem?

Best,
Lea

[2017-10-13 13:33] jhcepas commented on #308
must be a typo in the tutorial.
`descendants` is a generator, so you may need to run:

`print ncbi.translate_to_names(list(descendants))`

[2017-10-16 10:37] leapicard commented on #308
Thank you, it was indeed the case.

[2017-10-16 10:37] #308 closed

[2017-10-18 14:38] gaborbernat opened #309 "upgrade to pyqt5"
Conda moved to Qt4 recently so now installing this is kinda hard without conflicts (see https://anaconda.org/anaconda/pyqt/files)

[2017-10-18 14:43] jhcepas commented on #309
the ete3 port for Qt5 is basically ready (see #284)
I would say only some more testing is needed.

[2017-10-26 18:46] jolespin commented on #294
Sorry for the delay in all of this... I'm still getting this error:

[code]

This is my circular tree function below.  Have any of these objects been deprecated?
[code]

[2017-10-27 01:48] Wolflab commented on #100
Wow!  Thanks! That really helped me. Seems like something you should be able to control within ETE.

[2017-10-30 13:26] Gullumluvl opened #310 "ete3 view does not display internal nodes"
Hi,
that's a minor problem, be I haven't managed to display the internal nodes when using the `ete3 view` command:

I have tried this:

    echo "((a,b)e,(c,d)f)r;" | ete3 view --src_tree_format 1 --sin
    echo "((a,b)e,(c,d)f)r;" | ete3 view --src_tree_format 1 --attr name

However it works fine in text mode (with `--text`).

[2017-10-30 15:02] axnsantana commented on #195
I am facing the same problem, when I try `ete3 version` :
`ImportError: cannot import name TextFace`

Moreover, In my script when I tried to import:
`from ete3 import Tree, TreeStyle`
I got similar error:
`ImportError: cannot import name TreeStyle`

My configuration:
`Debian GNU/Linux 8 (jessie)`
`conda 4.3.27`
`which python` > `/home/alex/anaconda2/envs/papertree/bin/python`
`python -c 'import Py

[2017-10-30 15:08] jhcepas commented on #195
@axnsantana did you try to install ete within your conda environment using
`pip install -U https://github.com/etetoolkit/ete/archive/qt5.zip`?

[2017-10-30 15:09] jhcepas commented on #294
could you try to update ETE using `pip install -U https://github.com/etetoolkit/ete/archive/qt5.zip` within your normal conda environment?

[2017-10-30 15:36] axnsantana commented on #195
@jhcepas Nope!
I installed the ete with:
`conda install -c etetoolkit ete3 ete3_external_apps`

But I tried your suggestion and occurred an error:
`Collecting https://github.com/etetoolkit/ete/archive/qt5.zip
  Downloading https://github.com/etetoolkit/ete/archive/qt5.zip
     - 8.4MB 5.4MB/s
    Complete output from command python setup.py egg_info:

    Installing ETE (3.0.0b35)

    running egg

[2017-10-30 15:45] axnsantana commented on #195
Including another test:
`python -c 'from PyQt4 import QtGui'`
It did not work:
`  File "<string>", line 1, in <module>
ImportError: /home/alex/anaconda2/envs/papertree/lib/python2.7/site-packages/PyQt4/../../../libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /home/alex/anaconda2/envs/papertree/lib/python2.7/site-packages/PyQt4/../../../././libicui18n.so.58)`

In a quick search I foun

[2017-10-30 16:07] jolespin commented on #294
That was it!  So my PyQt was the incorrect version or do you have a custom build?

![image](https://user-images.githubusercontent.com/9061708/32181476-acde15da-bd51-11e7-9b28-c3563fb7b102.png)

[2017-11-01 09:43] ZhengYaa opened #311 "alg_format error"
Hello,
I use ete3 to view Tree with iphylip_relaxed format.
I look up for the alg_format, it tell me
  --alg_format ALG_FORMAT
                        fasta, phylip, iphylip, relaxed_iphylip,
                        relaxed_phylip.

but I execute the following command, I get error:
ete3 view -t RAxML_bipartitions.fTRI000022_1.raxmlout --alg fTRI000022_1.trim.phylip  --alg_format relaxed_iphylip
**

[2017-11-03 16:41] jhcepas commented on #309
solved via #284 and deployed from version 3.1.1

[2017-11-03 16:41] #309 closed

[2017-11-03 16:43] jhcepas commented on #285
solved via #284.
Deployed in release 3.1.1 and uploaded to conda (also supporting python version 3.4, 3.5, 3.6)

[2017-11-03 16:43] #285 closed

[2017-11-03 16:44] jhcepas commented on #282
version 3.1.1 now in conda and pypy

[2017-11-03 16:44] #282 closed

[2017-11-03 16:54] jhcepas commented on #293
I cannot reproduce. I am using official ete3 conda channel instead of bioconda (also the most recent version 3.1.1)
please reopen if necessary

[2017-11-03 16:54] #293 closed

[2017-11-06 15:03] Gullumluvl commented on #269
Hi, I was just noticing that too.

I personally think that preserving the original distance between nodes (option 2) is important. Otherwise, for example if the tree was made from a distance matrix, the distance matrix won't be the same after unrooting. In cases like running codeml using fixed branch lengths, keeping the same (total) branch lengths when unrooting matters IMO.

To back up this poin

[2017-11-10 09:45] andrewsanchez commented on #101
Here is a success story for compiling xvfb without root access on RHEL:
 https://ericdraken.com/running-xvfb-on-a-shared-host-without-x/

[2017-11-12 23:22] souravsingh commented on #138
@jhcepas What are your thoughts on this?

[2017-11-13 13:16] jhcepas commented on #195
the new version should fix all these issues. Try: `conda install -c etetoolkit ete3 ete_toolchain`

[2017-11-13 14:02] axnsantana commented on #195
Great! Working like a charm!
Thank you very much!

[2017-11-13 15:46] jhcepas commented on #138
@souravsingh sounds good. You can based your code on the scikit-bio loader. Or, if no other features are included in the Biopython tree rather than name and branch lengths, you could even load into ete by serialising the newick.

[2017-11-24 21:18] mkazanov opened #313 "Error parsing the GreenGenes tree"
GreenGenes URL: http://greengenes.secondgenome.com/downloads/database/13_5
Tree file: gg_13_5_otus_99_annotated.tree.gz

Error message:
Traceback (most recent call last):
  File "src/main/python/PhenotypeBuilder.py", line 308, in <module>
    app.run()
  File "src/main/python/PhenotypeBuilder.py", line 60, in run
    getattr(self, self.appParams['method'])( *(self.appParams['method_params']) )
  F

[2017-11-24 21:44] jhcepas commented on #313
are you using `Tree(newick, format=1)`?

[2017-11-24 22:33] mkazanov commented on #313
Yes!

2017-11-25 0:44 GMT+03:00 Jaime Huerta-Cepas <notifications@github.com>:

[2017-11-24 22:40] jhcepas commented on #313
and quoted_node_names=1?

On 24 November 2017 at 23:33, Marat Kazanov <notifications@github.com>
wrote:

[2017-11-24 22:57] mkazanov commented on #313
No. I will try

2017-11-25 1:40 GMT+03:00 Jaime Huerta-Cepas <notifications@github.com>:

[2017-11-25 00:58] mkazanov commented on #313
It works! But I can't find the description of this parameter in
Documentation API Reference in the web

2017-11-25 1:40 GMT+03:00 Jaime Huerta-Cepas <notifications@github.com>:

[2017-11-25 08:59] #313 closed

[2017-11-27 09:46] fransua opened #314 "Problem with get_age_balanced_outgroup function"
It seems that in some cases the balancing function does not converge, and returns an intermediate results. However after "initializing" the tree with the midpoint function, the algorithm work well (some times, running the balancing function twice also works).

Here an example:

[code]
![treebal1](https://user-images.githubusercontent.com/106498/33260337-d28fb396-d35f-11e7-83c7-7d8a796c275f.png)

[

[2017-11-27 21:44] sjspielman opened #315 "pip install - can't import, like issue #89"
Hi,

I am receiving Import Errors with a fresh install of ete3 from pip (11/27/2017), such that many ete3 modules cannot be loaded. It seems similar to the long-closed issue #89. Perhaps this is related to a pip update I see happened on 11/3?

For example, see:

[code]

In above, only Tree can be imported, rest throw the error when I have tried on their own.

Thanks in advance!
-Stephanie

[2017-11-28 09:13] jhcepas commented on #315
most probably you are missing qt/pyqt. Can you do `from PyQt5 import QtGui`? (or PyQt4...)

[2017-11-28 15:46] sjspielman commented on #315
I see, thanks. I have installed PyQt5 and it works now! I wasn't able to get this working yesterday because I didn't realize that PtQt5 was python3-compatible only, and hence cannot be retrieved with pip, just pip3. Perhaps this is common knowledge, but if not, may be useful for know for any ete users in python2. Indeed, I had this issue because I installed ete3 w/ pip, which simply bailed on gett

[2017-11-29 08:25] #315 closed

[2017-11-29 08:26] jhcepas commented on #315
thanks for the feedback, Stephanie

[2017-12-07 12:21] ColinAnthony opened #319 "unrooted radial tree option"
Feature request.

would it be possible to add an "unrooted radial tree option" (in addition to the circular and rectangular tree options)?

Something like this:
![f4 large](https://user-images.githubusercontent.com/8817395/33715043-d9737d76-db59-11e7-9285-c7a1ca4df469.jpg)

[2017-12-07 12:46] jhcepas commented on #319
It is possible, but requires a lot of work :)
I would also love to have this mode. I will keep it as f-request.

[2017-12-14 04:38] nextgenusfs commented on #195
Was still getting same error.  Trying to install ete3 on a Ubuntu denial docker container.
[code]
[code]
I had to install `xvfb` for it to work, i.e.
[code]

[2017-12-15 01:52] ZeweiSong opened #320 "Is it only support Python 2.7?"
I got this error when installing:

Complete output from command python setup.py egg_info:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Users\songz\AppData\Local\Temp\pip-build-8a4jfz1n\ete2\setup.py", line 90
    print "Installing ETE (A python Environment for Tree Exploration)."
                                                                      ^
SyntaxE

[2017-12-15 11:16] davidhwyllie commented on #258
Hi

Thanks.  Sorry for the delay in replying.

This issue can be reproduced on the following system using the latest release of ete3.

*System details*
OS: Windows-7-6.1.7601-SP1
Python version: 3.5.3 (v3.5.3:1880cb95a742, Jan 16 2017, 16:02:32) [MSC v.1900 64 bit (AMD64)]
Ete3:  3.1.1

*How to reproduce*
A self contained unit test is [attached](https://github.com/etetoolkit/ete/files/1562421/issu

[2017-12-17 17:15] jhcepas commented on #320
no, it is both python 2 and 3 compatible. Make sure you are installing the latest ete3 version

[2017-12-17 17:15] #320 closed

[2018-01-08 09:35] FrancisShizy opened #322 "Problems about "clustalo: MISSING" during installation and function"
Hi, there!
I am unable to install ete3 on my MacBook Pro(MacOS 10.13.2) successfully and utilize it without errors.
After I install ete3 by following the direction(http://etetoolkit.org/download/), I input "ete3 build check" to check ete3 situation,  it outputs "clustalo: MISSING" and shows something wrong with recognition of the current toolchain version.  In addition, I failed to install ete3 ex

[2018-01-08 09:39] jhcepas commented on #322
For some reason the prebuilt version of clustalO does not run in your system.
What error do you see if executing `/Users/shicanyu/anaconda2/bin/ete3_apps/bin/clustalo`?

I quick workaround would be to download/compile clustalo and replace the file in the above path, but I would like to know why the prebuilt version is not working...

[2018-01-08 09:42] FrancisShizy commented on #322
I have downloaded and replaced the /clustalo, but it didn't work. @jhcepas

[2018-01-08 09:42] jhcepas commented on #322
then must be somthing on your system config. What error do you get when running clustalo ?

[2018-01-08 09:58] FrancisShizy commented on #322
1. Actually, I find the version of clustalo downloaded in my Mac is 1.2.4, however, the version showed on the direction is 1.2.1.  As well, the version of Current Toolchain downloaded is 2.0.4, while the version showed on the direction is 2.0.3. It seems that there may be some difference between the old versions and the new ones when being recognizing by the system.
2. Response of the error: -bash

[2018-01-08 10:02] jhcepas commented on #322
everything seems to work for me on a macOS 10.13.2.

Regarding 2, make sure you have the executable clustalo file in the right directory.
You may want to try a fresh install: remove ~/.etetoolkit/, remove anaconda2/, reinstall

[2018-01-08 10:42] FrancisShizy commented on #322
There are two versions of clustalo 1.2.4: one is clustalo-1.2.4-h4f94532(4.5 MB), the other is clustalo-1.2.4-h8fd5eaf(1.4MB). When I downloaded ete3, it automatically download clustalo-1.2.4-h8fd5eaf, so last time I replaced the clustalo file with the clustalo-1.2.4-h8fd5eaf and finally it didn't work. What is the difference between the two version? @jhcepas

[2018-01-08 11:15] SunssAria commented on #322
How to install the ete3 without conda install？ Is the 'conda  install '  the only method to install ete3? @jhcepas

[2018-01-08 12:28] FrancisShizy commented on #322
I remove, reinstall all the things, but get the same result. The clustalo file is still unable to be executive and ete3 either. Any alternative methods to install ete3 or to download the executable clustalo file? @jhcepas

[2018-01-09 02:57] FrancisShizy commented on #322
I also find another reason that seemingly causes something wrong with clustalo file.
![1 9 1](https://user-images.githubusercontent.com/35216911/34702973-8a3bb6f6-f52b-11e7-947a-e1db4f9f85a2.jpeg)
There is not such a path /Users/jhc/_Devel/ext_apps/local/lib/libargtable2.0.dylib in my Mac. @jhcepas

[2018-01-09 05:56] FrancisShizy commented on #322
I have done the whole installation and successfully executed ete3, by downloading ete3_external_apps from https://anaconda.org/etetoolkit/ete3_external_apps, extracting it and copying all files in /Users/shizanyu/ete3_external_apps-2.0.4-py34_0/bin/ete3_apps and pasting them to replace the same files in /Users/shizanyu/anaconda2/bin/ete3_apps.

[2018-01-09 07:33] jhcepas commented on #322
The argtable2 error might the main cause. ETE installation should install it as a dependency. If not, please try: `conda install -c etetoolkit argtable2`

[2018-01-09 08:10] FrancisShizy commented on #322
Thank you  @jhcepas! I have executed ete3 successfully by the method I suggested in my last post, but I would like to point out another problem that when I input "conda install -c etetoolkit ete3_external_tools" in terminal, it shows:
![1 9 2](https://user-images.githubusercontent.com/35216911/34710484-8b368970-f556-11e7-93e1-898fc2b39db3.jpeg)
And I also find that opening the URLs showed in "Curr

[2018-01-09 09:38] jhcepas commented on #322
ete3_external_tools is deprecated.
ete3.1 needs `ete_toolchain` instead

[2018-01-10 08:09] FrancisShizy commented on #322
Get it.

[2018-01-10 08:09] #322 closed

[2018-01-11 01:38] baberlevi commented on #195
I'm still seeing this issue.

After installing everything successfully, I try to run `ete3 build check`

But I get:

    from .. import (Tree, PhyloTree, TextFace, RectFace, faces, TreeStyle, CircleFace, AttrFace,
ImportError: cannot import name TextFace

After reading through this thread, I noticed conda had installed pyqt 5.6, so I downgraded to pyqt4 hoping that would help, it did not.

Also tr

[2018-01-11 07:48] jhcepas commented on #195
The Qt4/5 issue should be gone if installing the latest version from conda (3.1+).
Did you tried a fresh miniconda install? Can you run `from PyQt5 import QtGui` in your python terminal?
for installing in containers, you may need to provide a virtual x server i.e. `xvfb-run ete build check`

[2018-01-11 12:41] baberlevi commented on #195
From a fresh miniconda install:

Solving package specifications: .

Package plan for installation in environment /mnt/removable/ete3:

The following NEW packages will be INSTALLED:

    argtable2:          2.13-0                      etetoolkit
    cloog:              0.18.0-0
    clustalo:           1.2.4-h4346872_0            etetoolkit
    dbus:               1.10.22-h3b5a359_0
    dialigntx:

[2018-01-11 12:58] baberlevi commented on #195
Here's what I get when trying to import QtGui:

[2018-01-11 13:01] baberlevi commented on #195
And on an ubuntu container with xvfb-run:

[code]

[2018-01-11 13:42] baberlevi commented on #195
Looks like the libstdc++.so.6 issue is a known problem with anaconda: https://github.com/ContinuumIO/anaconda-issues/issues/5191

Following the instructions in https://github.com/ContinuumIO/anaconda-issues/issues/5191#issuecomment-346554237, I relinked libstdc++.so.6 from libstdc++.so.6.0.19 to libstdc++.so.6.0.24

That fixed the QtGui import error, and `ete3 build check` now works.

[2018-01-11 14:06] baberlevi commented on #195
This comment seems to say that your conda dependency needs to change from gcc & libgcc to gxx_linux-64:
https://github.com/ContinuumIO/anaconda-issues/issues/5191#issuecomment-338482506

But, installing https://anaconda.org/anaconda/gxx_linux-64 alone, didn't resolve the issue for me (I still see the bad link on libstdc++.so.6).

Maybe @mingwandroid could shed some more light on it ?

[2018-01-11 16:40] jhcepas commented on #195
thanks for all this debugging @baberlevi
so, replacing the dependencies solved your problem?

[2018-01-11 18:44] baberlevi commented on #195
No, I couldn't get it to work with gxx_linux-64 either (but I'm not super familiar with conda).  I changed the symlink for libstdc++.so.6 within condo to point to the newer one and that fixed it

[2018-01-21 12:05] liub1993 opened #324 "AttributeError: 'QGraphicsSimpleTextItem' object has no attribute 'rotate'"
[code]

Hi, is there any solution to this exception? I have tried to install this on my Mac for many times, but all failed....

[2018-01-25 13:12] Wanderingstefan opened #325 "Overlapping SeqMotifFace motives are displayed as gaps"
Hej, I am trying to illustrate a bunch of genes on a sequence. For every gene, I create a motif, plus a 'direction' motif in the form of a triangle that is appended/prepended to the genes motif to indicate diretionality. Now it happens that several gene motivs and their respective direction motifs overlap. The later motif is then displayed transparent, which is fine. However, some of the transpare

[2018-01-27 02:41] maclandrol opened #326 "Internal nodes not marked for branch models ? [ete evol]"
https://github.com/etetoolkit/ete/blob/a231cc3df1c4a9c2f0d2668e278ec89a4120ff7a/ete3/tools/ete_evol.py#L375-L380

This piece of code is looking for internal nodes inside the leafset of the tree. Not sure why ...
Isn't the purpose of this code to compute a list of marking for each internal node and its corresponding leafset ?

For example for this tree

[code]
I guess the marks should be

[code]
I

[2018-01-31 10:04] fransua opened #327 "update PAML version to latest"
test passes with version 4.9, further checks needed.

[2018-01-31 10:51] fransua commented on #326
Hi,
thanks for the report, it was indeed not working I just made a pull request that fixes it.

[2018-02-01 18:39] chayan7 opened #329 "ETE tree"
Hi, I am wondering if it is possible to present structure like "=>" and "<=" when you have tree on the left and on right the strand of protein will be expressed using the structure like that. I know there is '>' and '<' but I want something like the attached figure.
<img width="548" alt="image" src="https://user-images.githubusercontent.com/34272067/35696364-949a2754-0787-11e8-8986-7003645553b0.pn

[2018-02-01 19:42] jhcepas commented on #329
if you have it as png or SVG, you could use ImgFace or SVGFaces for that

[2018-02-01 19:42] #329 closed

[2018-02-05 15:23] austinv11 opened #330 "Update taxonomy database's data source"
Currently `NCBITaxa` uses `https://ftp.ncbi.nih.gov/pub/taxonomy/taxdump.tar.gz` as its data source, however it appears to be semi-incomplete. There is, however, another subdirectory `new_taxdump` which appears to have more data yet is in the same format located here: `https://ftp.ncbi.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz`. Have you considered updating to that new link?

[2018-02-06 13:18] unode commented on #330
Hi @austinv11 thanks for the heads up.

I've been trying to find an official announcement about the new taxdump format but so far, other than the README on that folder, I couldn't find any. If you are aware of such information, it would be nice if you could include a link.

From what I gathered the new format includes additional files but also adds extra fields to some of the existing ones. Some c

[2018-02-06 13:46] austinv11 commented on #330
I could not find any announcement either, I just happened to find that subdirectory by chance when I looked at the taxonomy database's ftp site.

As for what I am missing, I was unable to retrieve lineages for a few taxa ids and I was hoping that the new taxdump would contain this information seeing as its name implies it might have more recent data (but I'm not entirely sure, I haven't gotten a c

[2018-02-06 13:56] unode commented on #330
Before checking the new dump I would check if the taxIDs you are interested in have not been deleted or merged with other records. This is the most common scenario.

[2018-02-06 15:04] austinv11 commented on #330
How would I check that?

[2018-02-06 15:11] unode commented on #330
One possibility is to search on NCBI taxonomy website.

For instance TaxID [2081561](https://www.ncbi.nlm.nih.gov/taxonomy/?term=2081561) has been merged with another record, whereas [1939181](https://www.ncbi.nlm.nih.gov/taxonomy/?term=1939181) has been deleted.

[2018-02-07 02:23] austinv11 commented on #330
You appear to be correct, the instances in which that occurred, the taxids were simply merged.

[2018-02-07 09:51] unode commented on #330
If that's ok with I'll close this issue then.
Once it's clear what direction NCBI is going with the taxdump files we'll assess adapting the code to the new format.

Cheers, and thanks

[2018-02-07 09:51] #330 closed

[2018-02-10 20:53] jhcepas opened #331 "add is_ultrametric function"
https://www.biostars.org/p/297625/#298139

[2018-02-13 15:54] jhcepas commented on #325
hey @Wanderingstefan,
 did you try gap_format='blank' ?

[2018-02-13 16:28] Wanderingstefan commented on #325
Hej,

Thanks for your answer! The thing is that I want to have the gaps between the motifs connected by a line, so this option is not really viable for me :-(

[2018-02-14 07:12] jhcepas commented on #325
Oh I see. I guess the only way to fix this is to change the drawing function in faces.py... not that easy.

[2018-02-16 09:12] lpryszcz opened #332 "Parsing EnsemblGenomes for Fungi PhyloXML fails due to empty <common_name/>"
Dear ETE devs, in the latest EnsemblGenomes for Fungi PhyloXML contains no common name `<common_name/>` and it causes error in ete3 `TypeError: expected string or buffer`. Could you add handling empty PhyloXML entries into ete3?

Below, I've pasted `Compara.91.protein_default.tree.phyloxml.xml/protein_default.tree.4335054.phyloxml.xml` example entry causing problem:

`<phyloxml xsi:schemaLocation=

[2018-02-16 09:32] lpryszcz commented on #332
created push request fixing the issue. you can consider adding similar fix to handle other empty entries.
#fa4b420

[2018-02-16 09:41] lpryszcz commented on #332
Same issue I've found in EnsemblGenomes for Protists

[2018-02-16 16:46] #332 closed

[2018-02-16 16:47] jhcepas commented on #332
thanks Leszek!

[2018-02-22 17:24] maclandrol opened #334 "More flexibility for layout_fn"
https://github.com/etetoolkit/ete/blob/a36adb19ad989c5a75976eb542b1bcbd585ca34e/ete3/treeview/main.py#L410

Layout functions in treeview are currently limited to Function and Method type only. I propose an extension to callable, which can be tested with
[code]
for python 2.x and 3.2+. Alternatively, some custom specific test can be written for other versions.

One reason supporting the proposed ch

[2018-02-22 18:35] maclandrol commented on #334
Nevermind,
You can actually do this instead
[code]

[2018-02-27 10:39] AnaHrnndz opened #335 "NameError: name 'cmp' is not defined"
Hi,
there is a problem wiith cmp() function, It doesn't exist in python3, so you  can't run multiple workflows at once.

[code]

[code]